<!-- BEGIN LOGO -->
<div class="logo">
    <img src="assets/images/logo.png" alt="The KaiEngine.com" />
</div>
<!-- END LOGO -->

<!-- BEGIN LOGIN -->
<div class="content">
    <router-outlet></router-outlet>
</div>
<!-- END LOGIN -->

<!-- BEGIN COPYRIGHT -->
<div class="copyright">
    2017 &copy; The KaiEngine
</div>
<!-- END COPYRIGHT -->