<!-- BEGIN LOGIN FORM -->
<form #loginForm="ngForm" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()" class="login-form">
    <h3 class="form-title">{{ title }}</h3>
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span>Enter any email and password.</span>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Username</label>
        <div class="input-icon">
            <i class="fa fa-user"></i>
            <input [(ngModel)]="user.email" #email="ngModel" class="form-control placeholder-no-fix" type="email" placeholder="Email"
                name="email" required />
            <validate-message [label]="'Email'" [input]="email" [submited]="loginForm.submitted"></validate-message>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input [(ngModel)]="user.password" #password="ngModel" class="form-control placeholder-no-fix" type="password" placeholder="Password"
                name="password" required />
            <validate-message [label]="'Password'" [input]="password" [submited]="loginForm.submitted"></validate-message>
        </div>
    </div>
    <div class="form-actions clearfix">
        <!-- <label class="checkbox"> <input type="checkbox" name="remember" value="1"/> Remember me </label> -->
        <button type="submit" class="btn green-haze pull-right touch"> Login
            <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
    <!-- <div class="forget-password">
        <h4>Forgot your password ?</h4>
        <p>no worries, click <a routerLink="/auth/forgot-password" id="forget-password">here </a> to reset your password.
        </p>
    </div> -->
    <!-- <div class="create-account">
        <p>Don't have an account yet ?&nbsp; <a routerLink="/auth/register" id="register-btn"> Create an account </a></p>
    </div> -->
</form>
<!-- END LOGIN FORM -->