<!-- BEGIN REGISTRATION FORM -->
<form #registerForm="ngForm" (ngSubmit)="onSubmit()">
    <h3>{{title}}</h3>
    <p>Enter your personal details below:</p>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">First Name</label>
        <div class="input-icon">
            <i class="fa fa-font"></i>
            <input [(ngModel)]="user.firstName" #firstName="ngModel" name="firstName" class="form-control placeholder-no-fix" type="text"
                placeholder="First Name" required />
            <validate-message [label]="'Firs tName'" [input]="firstName"></validate-message>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Last Name</label>
        <div class="input-icon">
            <i class="fa fa-font"></i>
            <input [(ngModel)]="user.lastName" #lastName="ngModel" name="lastName" class="form-control placeholder-no-fix" type="text"
                placeholder="Last Name" required />
            <validate-message [label]="'Last Name'" [input]="lastName"></validate-message>
        </div>
    </div>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        <label class="control-label visible-ie8 visible-ie9">Email</label>
        <div class="input-icon">
            <i class="fa fa-envelope"></i>
            <input class="form-control placeholder-no-fix" type="email" placeholder="Email" [(ngModel)]="user.email" #email="ngModel"
                [pattern]="regexHelper.email" name="email" required />
            <validate-message [label]="'Email Address'" [input]="email"></validate-message>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Password</label>
        <div class="input-icon">
            <i class="fa fa-lock"></i>
            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password"
                [(ngModel)]="user.password" #password="ngModel" [pattern]="regexHelper.password" name="password" required />
            <validate-message [label]="'Password'" [input]="password"></validate-message>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>
        <div class="controls">
            <div class="input-icon">
                <i class="fa fa-check"></i>
                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" [(ngModel)]="user.passwordConfirmation"
                    #passwordConfirmation="ngModel" [pattern]="regexHelper.password" name="passwordConfirmation" required />
                <validate-message [label]="'Re-type Your Password'" [input]="passwordConfirmation" [equal]="password.value" [equalTo]="'Password'"></validate-message>
            </div>
        </div>
    </div>
    <!-- <div class="form-group">
        <label>
            <input type="checkbox" name="tnc" /> I agree to the
            <a href="javascript:;">Terms of Service </a> and
            <a href="javascript:;">Privacy Policy</a>
        </label>
        <div id="register_tnc_error"></div>
    </div> -->
    <div class="form-actions">
        <button routerLink="/auth/login" id="register-back-btn" type="button" class="btn">
            <i class="m-icon-swapleft"></i> Back </button>
        <button type="submit" id="register-submit-btn" class="btn green-haze pull-right" [disabled]="registerForm.invalid || password.value !== passwordConfirmation.value">Sign Up
            <i class="m-icon-swapright m-icon-white"></i>
        </button>
    </div>
</form>
<!-- END REGISTRATION FORM -->