<div class="tab-pane active">
    <form (ngSubmit)="onSubmit()" #changeRoleForm="ngForm">

        <div class="form-group">

            <select [(ngModel)]="user.role" name="role" class="form-control input-small">
                <option value="ADMIN">Admin</option>
                <option value="MANAGER">Manager</option>
                <option value="GUEST">Guest</option>
                <option value="DEMO">Demo</option>
            </select>

        </div>

        <div class="margin-top-10">
            <button type="submit" class="btn green-haze touch">
                Change Role </button>
        </div>

    </form>
</div>