<div class="tab-pane active">
    <form (ngSubmit)="onSubmit()" #changePassForm="ngForm">
        <div class="form-group">
            <label class="control-label">New Password <span class="required">*</span></label>
            <input type="password" [(ngModel)]="user.newPassword" name="newPassword" #newPassword="ngModel" [pattern]="regexHelper.password"
                [minlength]="regexHelper.passwordLength" required class="form-control">
            <span class="help-block">Password must be at least 8 characters, a lower case letter(a-z), a upper case letter(A-Z), a digit(0-9), a special character(?=.*[@#$%^&+=])
                and no whitespace allowed.</span>
            <validate-message [label]="'New password'" [input]="newPassword" [minlength]="regexHelper.passwordLength"></validate-message>
        </div>
        <div class="form-group">
            <label class="control-label">Re-type New Password <span class="required">*</span></label>
            <input type="password" [(ngModel)]="user.passwordConfirmation" name="passwordConfirmation" #passwordConfirmation="ngModel"
                required class="form-control" />
            <validate-message [label]="'Password confirmation'" [input]="passwordConfirmation" [equal]="newPassword.value" [equalTo]="'New Password'"></validate-message>
        </div>
        <div class="margin-top-10">
            <button type="submit" *ngIf="!changePassForm.invalid && newPassword.value === passwordConfirmation.value" class="btn green-haze touch">
                Change Password </button>
        </div>
    </form>
</div>