<div class="tab-pane active">
    <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
        <div class="form-group">
            <label class="control-label">First Name <span class="required">*</span></label>
            <input type="text" [(ngModel)]="user.firstName" name="firstName" #firstName="ngModel" required placeholder="John" class="form-control">
            <validate-message [label]="'First name'" [input]="firstName"></validate-message>
        </div>
        <div class="form-group">
            <label class="control-label">Last Name <span class="required">*</span></label>
            <input type="text" [(ngModel)]="user.lastName" name="lastName" #lastName="ngModel" required placeholder="Doe" class="form-control">
            <validate-message [label]="'Last name'" [input]="lastName"></validate-message>
        </div>
        <div class="form-group">
            <label class="control-label">Email <span class="required">*</span></label>
            <input type="email" [(ngModel)]="user.email" name="email" #email="ngModel" required [pattern]="regexHelper.email" placeholder="yourname@domain.com" class="form-control">
            <validate-message [label]="'Email'" [input]="email"></validate-message>
        </div>
        <div class="form-group">
            <label class="control-label">Address</label>
            <input type="text" [(ngModel)]="user.address" name="address" #address="ngModel" placeholder="1579 Camden Street" class="form-control">
        </div>
        <div class="form-group">
            <label class="control-label">Country</label>
            <select-country [object]="user" field='country'></select-country>
        </div>
        <div class="margiv-top-10">
            <button type="submit" *ngIf="profileForm.form.valid" class="btn green-haze touch"> Save Changes </button>
        </div>
    </form>
</div>