<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>User Account</a>
        </li>
    </ul>
</div>
<div class="cleafix"></div>

<h3 class="page-title">User</h3>
<div class="clearfix"></div>

<div class="portlet light">
    <div class="portlet-title tabbable-line">
        <div class="caption caption-md">
            <i class="icon-user theme-font"></i>
            <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
        </div>
        <ul class="nav nav-tabs">
            <li routerLinkActive="active">
                <a routerLink="/user/profile" data-toggle="tab">Personal Info</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/user/change-password" data-toggle="tab">Change Password</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="/user/change-role" data-toggle="tab">Change Role</a>
            </li>
        </ul>
    </div>
    <div class="portlet-body">
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>