<form id="blacklist-sites" #blacklistSiteForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="modal-header clearfix">
        <h4 class="modal-title pull-left">{{title}} - {{totalSites}} sites</h4>
        <button type="button" class="close pull-right touch" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <p class="font-green">This sites will be applied to all campaigns <strong>Running</strong>.</p>
                    <select2 *ngIf="sites" [data]="sites" [options]="options" [width]="500" [value]="value" (valueChanged)="changed($event)"></select2>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default touch" (click)="close()">Close</button>
        <!-- <button type="submit" class="btn btn-success touch" *ngIf="sites && sites.length>0">Save Changes</button> -->
    </div>
</form>