<form (ngSubmit)="onConfirm()" *ngIf="active">
    <div class="modal-header clearfix">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right touch" (click)="hideConfirmationModal()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" [innerHTML]="body"></div>
    <div class="modal-footer">
        <div class="text-right">
            <button type="submit" class="btn btn-success">
                Yes
            </button>
            <button type="button" class="btn btn-default" (click)="onCancel()">
                No
            </button>
        </div>
    </div>
</form>