<form #createOfferForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-header clearfix">
        <h4 class="modal-title pull-left">{{ title }}</h4>
        <button type="button" class="close pull-right touch" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-body">

            <div class="form-group">
                <label class="control-label">Offer name</label>
                <input [(ngModel)]="offer.namePostfix" type="text" name="namePostfix" #namePostfix="ngModel" class="form-control" autocomplete="false"
                    required>
                <validate-message [label]="'Offer name'" [input]="namePostfix"></validate-message>
            </div>

            <div class="form-group">
                <label class="control-label">Offer URL</label>
                <input [(ngModel)]="offer.url" type="text" name="url" #url="ngModel" class="form-control" placeholder="E.g. http://www.offer-url.com"
                    (ngModelChange)="onChangeUrl()" [pattern]="regexHelper.url" autocomplete="false" required>

                <validate-message [label]="'Offer URL'" [input]="url"></validate-message>

                <div class="help-block">Available URL tokens:</div>
                <ul *ngIf="urlTokens" class="url-tokens list-unstyled">
                    <li *ngFor="let token of urlTokens" [ngClass]="{'selected':urlSelected(token)}" (click)="addUrlToken(token)">{{token}}</li>
                </ul>
            </div>

            <div class="form-group">
                <label class="control-label">Country</label>
                <select-country-code *ngIf="showCountrySelect && disableCountrySelect" [object]="offer.country" field="code" size="medium"
                    disabled="true"></select-country-code>
                <select-country-code *ngIf="showCountrySelect && !disableCountrySelect" [object]="offer.country" field="code" size="medium"></select-country-code>
            </div>

            <div *ngIf="offer.affiliateNetwork" class="form-group">
                <label class="control-label">Affiliate network</label>
                <select [(ngModel)]="offer.affiliateNetwork.id" name="affiliateNetwork.id" class="form-control input-medium">
                    <option value="">None</option>
                    <option *ngFor="let network of affiliateNetworks" value="{{network.id}}">{{network.name}}</option>
                </select>
            </div>

            <div class="form-group">
                <label class="control-label">Payout</label>
                <div class="radio-list" style="margin-left: 10px">
                    <label>
                        <input [(ngModel)]="offer.payout.type" type="radio" name="payout.type" value="AUTO" (ngModelChange)="onChangePayout()"> Auto </label>
                    <label>
                        <input [(ngModel)]="offer.payout.type" type="radio" name="payout.type" value="MANUAL" (ngModelChange)="onChangePayout()"> Manual
                        <div *ngIf="showPayoutInput" class="input-icon">
                            <i class="fa fa-dollar"></i>
                            <input [(ngModel)]="offer.payout.value" type="number" name="payout.value" #payoutValue="ngModel" min="0.01" max="1000000"
                                class="form-control input-small" required>
                            <validate-message [label]="'Payout value'" [input]="payoutValue"></validate-message>
                        </div>
                    </label>
                </div>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success touch" *ngIf="!createOfferForm.invalid">{{ button }}</button>
        <button type="button" class="btn btn-default touch" (click)="close()">Cancel</button>
    </div>

</form>