<form #trafficSourceForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="modal-header clearfix">
        <h4 class="modal-title pull-left">{{ title }}</h4>
        <button type="button" class="close pull-right touch" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-body">
            <div class="row">

                <div class="form-group ">
                    <label class="col-md-3 control-label">Type
                        <span class="required-icon" aria-required="true">*</span>
                    </label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <select [(ngModel)]="trafficSource.type" name="type" class="form-control" (change)="onChangeType()" required>
                                <option value="Taboola">Taboola</option>
                                <option value="Outbrain">Outbrain</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label">Nickname
                        <span class="required-icon" aria-required="true">*</span>
                    </label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <input type="text" [(ngModel)]="trafficSource.name" #name="ngModel" name="name" class="form-control" placeholder="Account Nickname"
                                maxlength="255" autocomplete="off" required>
                            <validate-message [label]="'Account Nickname'" [input]="name"></validate-message>
                            <div class="help-block">( Give this Traffic Source a nickname. This is for your personal reference only. You can put
                                whatever you like here )</div>
                        </div>
                    </div>
                </div>

                <div *ngIf="trafficSource.type==='Taboola'">
                    <div class="form-group ">
                        <label class="col-md-3 control-label">Client ID
                            <span class="required-icon" aria-required="true">*</span>
                        </label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="text" [(ngModel)]="trafficSource.client_id" #clientId="ngModel" name="client_id" class="form-control" placeholder="Insert Client ID"
                                    maxlength="255" autocomplete="off" required>
                                <validate-message [label]="'Client ID'" [input]="clientId"></validate-message>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-md-3 control-label">Client Secret
                            <span class="required-icon" aria-required="true">*</span>
                        </label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="text" [(ngModel)]="trafficSource.client_secret" #clientSecret="ngModel" name="client_secret" class="form-control"
                                    placeholder="Insert Client Secret" maxlength="255" autocomplete="off" required>
                                <validate-message [label]="'Client Secret'" [input]="clientSecret"></validate-message>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="trafficSource.type==='Outbrain'">
                    <div class="form-group ">
                        <label class="col-md-3 control-label">E-mail
                            <span class="required-icon" aria-required="true">*</span>
                        </label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="text" [(ngModel)]="trafficSource.email" #email="ngModel" [pattern]="regexHelper.email" name="email" class="form-control"
                                    placeholder="Insert Account Email" maxlength="255" autocomplete="off" required>
                                <validate-message [label]="'E-mail'" [input]="email"></validate-message>
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <label class="col-md-3 control-label">Password
                            <span class="required-icon" aria-required="true">*</span>
                        </label>
                        <div class="col-md-8">
                            <div class="input-icon right">
                                <input type="password" [(ngModel)]="trafficSource.password" #password="ngModel" name="password" class="form-control" placeholder="Insert Account Password"
                                    maxlength="255" autocomplete="off" required>
                                <validate-message [label]="'Password'" [input]="password"></validate-message>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label">Account ID
                        <span class="required-icon" aria-required="true">*</span>
                    </label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <input type="text" [(ngModel)]="trafficSource.account_id" #accountId="ngModel" name="account_id" class="form-control" placeholder="Insert Account ID"
                                maxlength="255" autocomplete="off" required>
                            <validate-message [label]="'Account ID'" [input]="accountId"></validate-message>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label">Trackers
                        <span class="required-icon" aria-required="true">*</span>
                    </label>
                    <div class="col-md-8">
                        <ss-multiselect-dropdown [options]="trackerOptions" [settings]="trackerOptionSettings" [texts]="trackerOptionTexts" [(ngModel)]="trafficSource.trackers"
                            name="trackers" required></ss-multiselect-dropdown>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success touch" *ngIf="!trafficSourceForm.invalid">{{ button }}</button>
        <button type="button" class="btn btn-default touch" (click)="close()">Cancel</button>
    </div>
</form>