<form #campaignForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="modal-header clearfix">
        <h4 class="modal-title pull-left">{{ title }}</h4>
        <button type="button" class="close pull-right touch" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-body">
            <div class="form-group">
                <label class="col-md-3 control-label">Name:</label>
                <div class="col-md-9">
                    <span *ngIf="prefixCampaignName" class="prefix-campaign-name pull-left">{{prefixCampaignName}}</span>
                    <input type="text" [(ngModel)]="campaign.namePostfix" #namePostfix="ngModel" name="namePostfix" class="form-control input-large"
                        [ngClass]="{'no-border-left':prefixCampaignName}" autocomplete="false" placeholder="Enter Campaign Name..."
                        required>
                    <validate-message [label]="'Name of Campaign'" [input]="namePostfix"></validate-message>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Tracker Account:</label>
                <div class="col-md-9">
                    <select [(ngModel)]="campaign.tracker" name="tracker" #tracker="ngModel" (change)="changeTrackerAccount()" class="form-control input-large"
                        required>
                        <option value="">Please select</option>
                        <option *ngFor="let tracker of trackerAccounts" value="{{tracker._id}}">{{tracker.name}}</option>
                    </select>
                    <validate-message [label]="'Tracker Account'" [input]="tracker"></validate-message>
                </div>
            </div>

            <div *ngIf="campaign.tracker" class="form-group">
                <label class="col-md-3 control-label">Traffic Source Name:</label>
                <div class="col-md-9">
                    <select [(ngModel)]="campaign.trafficSource.id" name="trafficSource.id" #trafficSource="ngModel" (change)="changeType()"
                        class="form-control input-large" required>
                        <option value="">Please select</option>
                        <option *ngFor="let traffic of trafficSources" value="{{traffic.id}}">{{traffic.name}}</option>
                    </select>
                    <validate-message [label]="'Traffic Source Name'" [input]="trafficSource"></validate-message>
                </div>
            </div>

            <div *ngIf="campaign.trafficSource.id" class="form-group">
                <label class="col-md-3 control-label">Traffic Source Account:</label>
                <div class="col-md-9">
                    <select [(ngModel)]="campaign.traffic" name="traffic" #traffic="ngModel" class="form-control input-large" required>
                        <option value="">Please select</option>
                        <option *ngFor="let traffic of trafficSourcesAccounts" value="{{traffic._id}}">{{traffic.name}}</option>
                    </select>
                    <validate-message [label]="'Traffic Source Account'" [input]="traffic"></validate-message>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Country:</label>
                <div class="col-md-9">
                    <select-country-code [object]="campaign.country" field="code" size="large" [callback]="callbackCountry"></select-country-code>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Payout:</label>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-dollar"></i>
                        </span>
                        <input type="number" [(ngModel)]="campaign.payout" name="payout" class="form-control input-xsmall">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Cost model:</label>
                <div class="col-md-9">
                    <div class="radio-list" style="margin-left:25px">
                        <label class="radio-inline">
                            <input [(ngModel)]="campaign.costModel.type" type="radio" name="costModel.type" value="NOT_TRACKED"> Do not track costs
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Redirect mode:</label>
                <div class="col-md-9">
                    <div class="radio-list" style="margin-left:25px">
                        <label class="radio-inline">
                            <input [(ngModel)]="campaign.redirectTarget.inlineFlow.defaultOfferRedirectMode" type="radio" name="redirectMode" value="REGULAR"> 302
                        </label>
                        <label class="radio-inline">
                            <input [(ngModel)]="campaign.redirectTarget.inlineFlow.defaultOfferRedirectMode" type="radio" name="redirectMode" value="HTML"> Meta refresh
                        </label>
                        <label class="radio-inline">
                            <input [(ngModel)]="campaign.redirectTarget.inlineFlow.defaultOfferRedirectMode" type="radio" name="redirectMode" value="DOUBLE_HTML"> Double meta refresh
                        </label>
                    </div>
                </div>
            </div>

            <div *ngIf="blockedSites" class="row">
                <div class="col-md-12">
                    <div class="portlet blue-hoki box">
                        <div class="portlet-title">
                            <div class="caption">Exclude Sites</div>
                        </div>
                        <div class="portlet-body">
                            <select2 [data]="blockedSites" [options]="blockedSitesOptions" [value]="campaign.blockSites" (valueChanged)="changedBlockedSites($event)"></select2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="portlet blue-hoki box">
                        <div class="portlet-title">
                            <div class="caption">Default Paths</div>
                        </div>
                        <div class="portlet-body">
                            <div *ngFor="let path of defaultPaths; let i = index;" class="path-list-item clearfix">
                                <div class="path-title row">
                                    <div class="col-md-2">
                                        <p class="bold uppercase">{{path.name}}</p>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="path-options pull-right">
                                            <label class="inline">Path weight</label>
                                            <input type="number" [(ngModel)]="path.weight" name="weight+{{i}}" class="form-control inline input-xsmall" min="0" max="999">
                                            <!-- <switch [status]="path.active" [onText]="switchButton.onText" [offText]="switchButton.offText" [onColor]="switchButton.onColor"
                                                [offColor]="switchButton.offColor" [disabled]="switchButton.disabled" [size]="switchButton.size"
                                                (statusChange)="onFlagChange($event, path)"></switch> -->
                                            <button type="button" class="btn btn-danger btn-md" title="Remove Path" (click)="removePath(i)" style="margin-top:-7px">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div class="path-container landers-container bg-grey-steel clearfix">

                                    <div class="col-md-8">
                                        <p>Lander</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Weight</p>
                                    </div>

                                    <div *ngFor="let landerItem of path.landers; let j = index;" class="path-item clearfix">
                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                            <select [(ngModel)]="landerItem.lander.id" name="lander+{{i}}{{j}}" class="form-control">
                                                <option value="" selected="selected">Select lander</option>
                                                <option *ngFor="let lander of landers" value="{{lander.id}}">{{lander.name}}</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input type="number" [(ngModel)]="landerItem.weight" name="lander.weight+{{i}}+{{j}}" min="0" max="999" class="form-control inline input-xsmall">
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <i class="glyphicon glyphicon-remove pull-right actions-icon" title="Remove Lander" (click)="removeLander(j, path)"></i>
                                            <i *ngIf="landerItem.lander.id" class="fa fa-pencil actions-icon pull-right" title="Edit Lander" aria-hidden="true" (click)="editLander(landerItem)"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12 pull-left">
                                        <button type="button" class="btn btn-primary" (click)="addLander(path)">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Add lander</button>

                                        <button *ngIf="campaign.tracker" type="button" class="btn btn-primary" (click)="newLander()">
                                            <i class="fa fa-star" aria-hidden="true"></i> New lander</button>
                                    </div>
                                </div>

                                <div class="path-container offers-container bg-grey-steel clearfix">

                                    <div class="col-md-8">
                                        <p>Offer</p>
                                    </div>
                                    <div class="col-md-4">
                                        <p>Weight</p>
                                    </div>

                                    <div *ngFor="let offerItem of path.offers; let k = index;" class="path-item clearfix">
                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                            <select [(ngModel)]="offerItem.offer.id" #offer="ngModel" name="offer+{{i}}{{k}}" class="form-control" required>
                                                <option value="" selected="selected">Select offer</option>
                                                <option *ngFor="let offer of offers" value="{{offer.id}}">{{offer.name}}</option>
                                            </select>
                                            <validate-message [label]="'Offer'" [input]="offer"></validate-message>
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <input type="number" [(ngModel)]="offerItem.weight" name="offer.weight+{{i}}+{{k}}" min="0" max="999" class="form-control inline input-xsmall">
                                        </div>
                                        <div class="col-sm-2 col-md-2 col-lg-2">
                                            <i class="glyphicon glyphicon-remove pull-right actions-icon" title="Remove Offer" (click)="removeOffer(k, path)"></i>
                                            <i *ngIf="offerItem.offer.id" class="fa fa-pencil actions-icon pull-right" title="Edit Offer" aria-hidden="true" (click)="editOffer(offerItem)"></i>
                                        </div>
                                    </div>
                                    <div class="col-md-12 pull-left">
                                        <button type="button" class="btn btn-primary" (click)="addOffer(path)">
                                            <i class="fa fa-plus" aria-hidden="true"></i> Add offer</button>

                                        <button *ngIf="campaign.tracker" type="button" class="btn btn-primary" (click)="newOffer()">
                                            <i class="fa fa-star" aria-hidden="true"></i> New offer</button>
                                    </div>

                                </div>

                            </div>

                            <button type="button" class="btn btn-primary" (click)="addPath()" style="margin-left:20px">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add path</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <img *ngIf="showLoading" src="assets/images/admin/input-spinner.gif" alt="Loading..." />
        <button type="submit" class="btn btn-success touch" *ngIf="!campaignForm.invalid" [attr.disabled]="showLoading ? true : null">{{ button }}</button>
        <button type="button" class="btn btn-default touch" (click)="close()">Cancel</button>
    </div>
</form>