<form #createLanderForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-header clearfix">
        <h4 class="modal-title pull-left">{{ title }}</h4>
        <button type="button" class="close pull-right touch" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-body">

            <div class="form-group">
                <label class="control-label">Lander Name</label>
                <input [(ngModel)]="lander.namePostfix" type="text" name="namePostfix" #namePostfix="ngModel" class="form-control" autocomplete="false"
                    required>
                <validate-message [label]="'Lander name'" [input]="namePostfix"></validate-message>
            </div>

            <div class="form-group">
                <label class="control-label">Lander URL</label>
                <input [(ngModel)]="lander.url" type="text" name="url" #url="ngModel" class="form-control" placeholder="E.g. http://www.lander-url.com"
                    (ngModelChange)="onChangeUrl()" [pattern]="regexHelper.url" autocomplete="false" required>

                <validate-message [label]="'Lander URL'" [input]="url"></validate-message>

                <div class="help-block">Available URL tokens:</div>
                <ul *ngIf="urlTokens" class="url-tokens list-unstyled">
                    <li *ngFor="let token of urlTokens" [ngClass]="{'selected':urlSelected(token)}" (click)="addUrlToken(token)">{{token}}</li>
                </ul>
            </div>

            <div class="form-group">
                <label class="control-label">Number of offers</label>
                <input [(ngModel)]="lander.numberOfOffers" type="number" name="numberOfOffers" min="1" max="20" class="form-control input-medium">
            </div>

            <div class="form-group">
                <label class="control-label">Country</label>
                <select-country-code *ngIf="showCountrySelect && disableCountrySelect" [object]="lander.country" field="code" size="medium"
                    disabled="true"></select-country-code>
                <select-country-code *ngIf="showCountrySelect && !disableCountrySelect" [object]="lander.country" field="code" size="medium"></select-country-code>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success touch" *ngIf="!createLanderForm.invalid">{{ button }}</button>
        <button type="button" class="btn btn-default touch" (click)="close()">Cancel</button>
    </div>

</form>