<form #ruleForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="modal-header clearfix">
        <h4 class="modal-title pull-left">{{ title }}</h4>
        <button type="button" class="close pull-right touch" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="form-group">
                    <label class="col-md-3 control-label">Active</label>
                    <div class="col-md-8">
                        <div class="checkbox-list">
                            <input [(ngModel)]="rule.status" type="checkbox" name="status" class="checkbox">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Rule Name
                        <span class="required-icon">*</span>
                    </label>
                    <div class="col-md-8">
                        <input [(ngModel)]="rule.name" type="text" name="name" #name="ngModel" class="form-control" placeholder="Rule Name" autocomplete="off"
                            required>
                        <validate-message [label]="'Rule name'" [input]="name" [submited]="ruleForm.submitted"></validate-message>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Rule Action
                        <span class="fa fa-info-circle info-tooltip" title="Choose what you want the rule todo: E-mail Alert: simply send an alerting email without making any changes. Execute Only: will execute all the changes without sending any email. E-mail &amp; Execute: Make the changes and send and email"></span>
                    </label>
                    <div class="col-md-8">
                        <select name="action" class="form-control" [(ngModel)]="rule.action" (change)="onChangeAction()">
                            <option *ngFor="let item of actionOptions" value="{{item.id}}" [attr.disabled]="item.disabled ? true : null">{{item.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Stats Interval
                        <span class="fa fa-info-circle info-tooltip" title="This is the stats interval that will be considered when validating the rule conditions"></span>
                    </label>
                    <div class="col-md-8">
                        <select name="interval" class="form-control" [(ngModel)]="rule.interval">
                            <option *ngFor="let item of intervalOptions" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Execution Freq.
                        <span class="fa fa-info-circle info-tooltip" title="Run this rule every selected time interval."></span>
                    </label>
                    <div class="col-md-8">
                        <select name="rotation" class="form-control" [(ngModel)]="rule.rotation">
                            <option *ngFor="let item of rotationOptions" value="{{item.id}}">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Rule Level
                        <span class="fa fa-info-circle info-tooltip" title="Select the level on which this rule will run."></span>
                    </label>
                    <div class="col-md-8">
                        <select name="level" class="form-control" [(ngModel)]="rule.level">
                            <option *ngFor="let item of levelOptions" value="{{item.id}}" [attr.disabled]="item.disabled ? true : null">{{item.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Campaigns
                        <span class="fa fa-info-circle info-tooltip" title="Select one or more campaigns to apply this rule."></span>
                    </label>
                    <div class="col-md-8">
                        <ss-multiselect-dropdown [options]="campaignOptions" [settings]="campaignOptionSettings" [texts]="campaignOptionTexts" [(ngModel)]="rule.campaigns"
                            name="campaigns" #campaigns="ngModel" (ngModelChange)="onChangeCampaigns()" required></ss-multiselect-dropdown>
                    </div>
                </div>
            </div>

            <h3 class="font-grey-cascade form-section">Rule conditions</h3>

            <div *ngIf="showBlockConditions" class="new-criteria">
                <div class="row rule_row default" *ngFor="let item of rule.criterias;let i=index">
                    <div class="col-md-11">
                        <div class="btn-group pull-left">
                            <select name="column+{{i}}" class="form-control input-small" (change)="changeRuleColumn(item)" [(ngModel)]="item.column">
                                <option *ngFor="let item of conditionColumns" value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>

                        <div class="btn-group pull-left data-toogle-buttons" style="margin: 0 5px;">
                            <label class="btn btn-default" [ngClass]="{'active': item.operator==='less'}">
                                <input type="radio" name="operator+{{i}}" value="<" (click)="compare('less', item)"> &lt; </label>
                            <label class="btn btn-default" [ngClass]="{'active': item.operator==='equal'}">
                                <input type="radio" name="operator+{{i}}" value="=" (click)="compare('equal', item)"> = </label>
                            <label class="btn btn-default" [ngClass]="{'active': item.operator==='greater'}">
                                <input type="radio" name="operator+{{i}}" value=">" (click)="compare('greater', item)"> &gt; </label>
                        </div>

                        <div class="pull-left clearfix">
                            <input type="number" [(ngModel)]="item.value" name="value+{{i}}" #value="ngModel" class="form-control input-xsmall" required>
                            <div class="clearfix"></div>
                            <validate-message [label]="'Value'" [input]="value"></validate-message>
                        </div>

                        <div *ngIf="item.onCalc" class="btn-group pull-left" style="margin: 0 5px;">
                            <select [(ngModel)]="item.calc" name="calc+{{i}}" class="form-control input-xsmall">
                                <option value="add">&#43;</option>
                                <option value="subtract">&minus;</option>
                                <option value="multiply">&#42;</option>
                                <option value="divide">&divide;</option>
                            </select>
                        </div>

                        <div *ngIf="item.onCalc" class="btn-group pull-left">
                            <select [(ngModel)]="item.xcolumn" name="xcolumn+{{i}}" class="form-control input-small">
                                <option *ngFor="let item of conditionColumns" value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>

                        <span class="help-inline pull-left" style="width:25px">{{ item.unit }}</span>

                        <p class="pull-right" style="line-height:30px">
                            <input [(ngModel)]="item.onCalc" type="checkbox" name="onCalc+{{i}}" class="pull-left" style="margin-right:3px"> Extra</p>

                    </div>

                    <div class="col-md-1">
                        <button *ngIf="i > 0" type="button" class="btn btn-xs btn-danger btn-delete" title="Delete this criteria" (click)="deleteCriteria(i)"
                            style="margin-top:5px">
                            <i class="fa fa-times" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>

                <div class="btn-group btn-group-solid" title="Add new criteria">
                    <button (click)="addCriteria()" type="button" class="btn btn-sm blue touch">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>

            <div *ngIf="showDecreaseCpcConditions">
                <div class="row rule_row default" *ngFor="let item of rule.decrease_cpc;let i=index">
                    <div class="col-md-11">
                        <div class="btn-group pull-left">
                            <select name="decrease_cpc_coluum_{{i}}" class="form-control input-small" [(ngModel)]="item.column" (change)="changeRuleColumn(item)">
                                <option *ngFor="let item of conditionColumns" value="{{item.id}}">{{item.name}}</option>
                            </select>
                        </div>

                        <div class="btn-group pull-left data-toogle-buttons" style="margin: 0 5px;">
                            <label class="btn btn-default" [ngClass]="{'active': item.operator==='less'}">
                                <input type="radio" name="decrease_cpc_operator_{{i}}" value="<" (click)="compare('less', item)"> &lt; </label>
                            <label class="btn btn-default" [ngClass]="{'active': item.operator==='greater'}">
                                <input type="radio" name="decrease_cpc_operator_{{i}}" value=">" (click)="compare('greater', item)"> &gt; </label>
                        </div>

                        <div class="pull-left clearfix">
                            <input type="number" [(ngModel)]="item.value" name="decreaseCpcValue_{{i}}" #decreaseCpcValue="ngModel" class="form-control input-xsmall"
                                min="1" required>
                            <validate-message [label]="'Value'" [input]="decreaseCpcValue"></validate-message>
                        </div>

                        <span class="help-inline pull-left" style="width:25px">{{ item.unit }}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success touch" *ngIf="!ruleForm.invalid">{{ button }}</button>
        <button type="button" class="btn btn-default touch" (click)="close()">Cancel</button>
    </div>

</form>