<form #trackerForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="modal-header clearfix">
        <h4 class="modal-title pull-left">{{ title }}</h4>
        <button type="button" class="close pull-right touch" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-body">
            <div class="row">

                <div class="form-group ">
                    <label class="col-md-3 control-label">Tracker Type
                        <span class="required-icon" aria-required="true">*</span>
                    </label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <select [(ngModel)]="tracker.type" name="type" class="form-control" required>
                                <option value="Voluum">Voluum</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label">Nickname
                        <span class="required-icon" aria-required="true">*</span>
                    </label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <input type="text" [(ngModel)]="tracker.name" #name="ngModel" name="name" class="form-control" placeholder="Account Nickname"
                                maxlength="255" autocomplete="off" required>
                            <validate-message [label]="'Account Nickname'" [input]="name"></validate-message>
                            <div class="help-block">( Give this tracker a nickname. This is for your personal reference only. You can put whatever
                                you like here )</div>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label">Access ID
                        <span class="required-icon" aria-required="true">*</span>
                    </label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <input type="text" [(ngModel)]="tracker.access_id" #accessId="ngModel" name="access_id" class="form-control" placeholder="Access ID"
                                maxlength="255" autocomplete="off" required>
                            <validate-message [label]="'Access ID'" [input]="accessId"></validate-message>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label">Access Key
                        <span class="required-icon" aria-required="true">*</span>
                    </label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <input type="text" [(ngModel)]="tracker.access_key" #accessKey="ngModel" name="access_key" class="form-control" placeholder="Access Key"
                                maxlength="255" autocomplete="off" required>
                            <validate-message [label]="'Access Key'" [input]="accessKey"></validate-message>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success touch" *ngIf="!trackerForm.invalid">{{ button }}</button>
        <button type="button" class="btn btn-default touch" (click)="close()">Cancel</button>
    </div>
</form>