<form id="siteBidForm" #siteBidForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="modal-header clearfix">
        <h4 class="modal-title pull-left">{{title}}</h4>
        <button type="button" class="close pull-right touch" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-body">
            <div class="row">
                <div *ngIf="campaign && campaign.type==='Outbrain' && site.status==='BLOCKED'" class="col-md-12">
                    <div class="alert alert-warning">
                        <p class="text-center">
                            <i class="fa fa-warning" aria-hidden="true"></i> "{{site.site_name}}" has already been excluded. Changing the CPC may make this section active
                            again.
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-6">
                    <div class="pull-right" style="display:inline-table">
                        <label>Fixed CPC</label>
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-dollar" aria-hidden="true"></i>
                            </span>
                            <input type="number" [(ngModel)]="site.boosted_cpc" name="boosted_cpc" class="form-control input-small" (ngModelChange)="onChangeFixedCpc()"
                                required>
                        </div>
                        <p *ngIf="alertFixedCPC" class="font-red">
                            {{alertFixedCPC}}
                        </p>
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 hidden-xs">
                    <div class="text-center" style="vertical-align:middle;margin-top:32px">=</div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="pull-left">
                        <label>CPC Adjustment (%)</label>
                        <input type="number" [(ngModel)]="site.cpc_boost_percent" name="cpc_boost_percent" (ngModelChange)="onChangeCpcPercent()"
                            class="form-control input-small" required>
                        <p *ngIf="alertCPCPercent" class="font-red">
                            {{alertCPCPercent}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="pull-left">
            <button type="button" class="btn btn-default touch" (click)="reset()">Reset</button>
        </div>
        <div class="pull-right">
            <img *ngIf="showLoading" src="assets/images/admin/input-spinner.gif" alt="Loading..." />
            <button type="submit" class="btn btn-success touch" *ngIf="!siteBidForm.invalid" [attr.disabled]="showLoading ? true : null">Save</button>
            <button type="button" class="btn btn-default touch" (click)="close()">Cancel</button>
        </div>
    </div>
</form>