<form #campaignForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
    <div class="modal-header clearfix">
        <h4 class="modal-title pull-left">{{ title }}</h4>
        <button type="button" class="close pull-right touch" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-body">
            <div class="row">

                <div class="form-group ">
                    <label class="col-md-3 control-label bold">Camp.ID</label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <input type="text" [(ngModel)]="campaign.id" name="id" class="form-control bg-blue-hoki" readonly>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label bold">Name</label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <input type="text" [(ngModel)]="campaign.name" name="name" class="form-control bg-blue-hoki" readonly>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label bold">CPC Bid
                        <span class="required-icon" aria-required="true">*</span>
                    </label>
                    <div class="col-md-8">
                        <div class="input-group input-icon right">
                            <span class="input-group-addon">
                                <i class="fa fa-usd"></i>
                            </span>
                            <input type="number" [(ngModel)]="campaign.cpc" #cpc="ngModel" name="cpc" class="form-control" required>
                            <validate-message [label]="'CPC Bid'" [input]="cpc"></validate-message>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label bold">Spending Limit
                        <span class="required-icon" aria-required="true">*</span>
                    </label>
                    <div class="col-md-8">
                        <div class="input-group input-icon right">
                            <span class="input-group-addon">
                                <i class="fa fa-usd"></i>
                            </span>
                            <input type="number" [(ngModel)]="campaign.spending_limit" #spendingLimit="ngModel" name="spending_limit" class="form-control"
                                required>
                            <validate-message [label]="'Spending Limit'" [input]="spendingLimit"></validate-message>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <label class="col-md-3 control-label bold">Daily Cap</label>
                    <div class="col-md-8">
                        <div class="input-icon right">
                            <input type="text" [(ngModel)]="campaign.daily_ad_delivery_model" name="daily_ad_delivery_model" class="form-control bg-blue-hoki"
                                readonly>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <img *ngIf="showLoading" src="assets/images/admin/input-spinner.gif" alt="Loading..." />
        <button type="submit" class="btn btn-success touch" *ngIf="!campaignForm.invalid" [attr.disabled]="showLoading ? true : null">{{ button }}</button>
        <button type="button" class="btn btn-default touch" (click)="close()">Cancel</button>
    </div>
</form>