<layout-header></layout-header>

<div class="page-container">

    <layout-sidebar></layout-sidebar>

    <div class="page-content-wrapper">
        <div class="page-content">
            <router-outlet></router-outlet>
        </div>
    </div>

</div>

<layout-footer></layout-footer>