<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            <li class="start" routerLinkActive="active open">
                <a routerLink="/dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">Dashboard</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" class="heading">
                <h3 class="uppercase">TOOLS</h3>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" routerLinkActive="active open">
                <a routerLink="/rules">
                    <i class="icon-puzzle"></i>
                    <span class="title">Rules</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" routerLinkActive="active open">
                <a routerLink="/campaigns">
                    <i class="fa fa-diamond"></i>
                    <span class="title">Manual Campaign</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" routerLinkActive="active open">
                <a routerLink="/blocked-sites">
                    <i class="fa fa-eye-slash"></i>
                    <span class="title">Blocked Sites</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" routerLinkActive="active open">
                <a routerLink="/manual-stats-update">
                    <i class="fa fa-mail-reply-all"></i>
                    <span class="title">Manual Stats Update</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" class="heading">
                <h3 class="uppercase">Accounts</h3>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" routerLinkActive="active open">
                <a routerLink="/trafficsources">
                    <i class="icon-briefcase"></i>
                    <span class="title">Traffic Sources</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" routerLinkActive="active open">
                <a routerLink="/trackers">
                    <i class="fa fa-map-marker"></i>
                    <span class="title">Trackers</span>
                    <span class="selected"></span>
                </a>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" class="heading">
                <h3 class="uppercase">Users</h3>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" routerLinkActive="active open">
                <a routerLink="/user/profile">
                    <i class="icon-user"></i>
                    <span class="title">Profile</span>
                    <span class="selected"></span>
                </a>
            </li>

            <!-- <li *ngxPermissionsOnly="['ADMIN']" class="heading">
                <h3 class="uppercase">Help &amp; Support</h3>
            </li>

            <li *ngxPermissionsOnly="['ADMIN']" class="last " routerLinkActive="active open">
                <a routerLink="/faqs">
                    <i class="icon-question"></i>
                    <span class="title">FAQs</span>
                    <span class="selected"></span>
                </a>
            </li> -->

        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->