<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a routerLink="/blocked-sites">{{ title }}</a>
        </li>
    </ul>
</div>
<div class="clearfix"></div>

<h3 class="page-title pull-left">{{ title }}</h3>
<div class="clearfix"></div>
<!-- END PAGE HEADER-->


<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-eye-slash theme-grey"></i>
                    <span class="caption-subject font-blue-steel bold uppercase">{{ title }}</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>
                            Show
                            <select [(ngModel)]="tableSetting.rowsOnPage" class="form-control input-xsmall input-inline">
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                            </select>
                            records
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="pull-right">

                            <div class="form-group" style="display:inline">
                                <label>Traffic Source</label>
                                <select [(ngModel)]="trafficSource" (change)="onChangeStatus()" class="form-control input-small input-inline" style="margin-right:15px">
                                    <option value="all" selected="selected">ALL</option>
                                    <option value="taboola">Taboola</option>
                                    <option value="outbrain">Outbrain</option>
                                </select>
                            </div>

                            <div class="form-group" style="display:inline">
                                <label>Status</label>
                                <select [(ngModel)]="status" (change)="onChangeStatus()" class="form-control input-small input-inline" style="margin-right:15px">
                                    <option value="all" selected="selected">ALL</option>
                                    <option value="blocked">BLOCKED</option>
                                    <option value="blacklist">BLACKLIST</option>
                                    <option value="pause">PAUSE</option>
                                </select>
                            </div>

                            <label>Search:
                                <input [(ngModel)]="filterQuery" class="form-control input-small input-inline" />
                            </label>
                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" #mf="mfDataTable" [mfData]="siteList | filter:'site_name':filterQuery"
                        [mfRowsOnPage]="tableSetting.rowsOnPage" [(mfSortBy)]="tableSetting.sortBy" [(mfSortOrder)]="tableSetting.sortOrder">
                        <thead>
                            <tr>
                                <th>
                                    <mfDefaultSorter by="site_name">Site Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="trafficSource">Traffic Source</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="updated_at">Updated Time</mfDefaultSorter>
                                </th>
                                <th class="text-right">
                                    <button type="button" class="btn btn-sm bg-purple" (click)="showAllCampaigns()">
                                        <span *ngIf="!showAllButton">
                                            <i class="fa fa-expand" aria-hidden="true"></i> &nbsp; Expand All</span>
                                        <span *ngIf="showAllButton">
                                            <i class="fa fa-compress" aria-hidden="true"></i> &nbsp; Collapse All</span>
                                    </button>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr *ngIf="mf.data && mf.data.length==0">
                                <td [attr.colspan]="tableSetting.columnCount">Site not found.</td>
                            </tr>
                            <tr *ngFor="let item of mf.data;" class="odd gradeX">
                                <td width="150">
                                    <p class="bold">{{item.site_name}}</p>
                                </td>
                                <td width="50">{{item.trafficSource}}</td>
                                <td width="30">
                                    <span [ngClass]="(item.status==='BLOCKED') ? 'label-danger' : (item.status==='PAUSE') ? 'label-warning' : 'label-default'"
                                        class="label">{{ item.status }}</span>
                                </td>
                                <td width="50">{{item.updated_at | date:'y/MM/dd HH:mm:ss'}}</td>
                                <td align="center" colspan="22">
                                    <a *ngIf="!item.showCampaigns && item.metrics" class="btn btn-block bg-blue-madison" (click)="onShowCampaigns(item)">
                                        <i class="fa fa-hand-o-right" aria-hidden="true"></i> Campaign Details ({{item.metrics.length}}) </a>

                                    <table *ngIf="item.showCampaigns && item.metrics" class="table table-bordered">
                                        <thead>
                                            <tr class="bg-blue-chambray">
                                                <th> Campaign </th>
                                                <th> Block Type </th>
                                                <th> Bot </th>
                                                <th> Imp. </th>
                                                <th> TS Clicks </th>
                                                <th> Trk Clicks </th>
                                                <th> LP Clicks </th>
                                                <th> CTR </th>
                                                <th> LP CTR </th>
                                                <th> CPC </th>
                                                <th> Conv </th>
                                                <th> Cost </th>
                                                <th> Rev </th>
                                                <th> CPM </th>
                                                <th> Net </th>
                                                <th> ROI </th>
                                                <th *ngIf="displayUnblockButton(item)" class="text-center"> Actions </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let data of item.metrics | sort:'time':true">
                                                <td>{{ data.camp_name }}</td>
                                                <td>
                                                    <span *ngIf="data.user_id">{{ data.action }} (by {{ data.user_name }})</span>
                                                    <span *ngIf="!data.user_id">{{ data.action }}</span>
                                                </td>
                                                <td class="tooltips">
                                                    {{ data.bot | number:'1.1-2' }}%
                                                    <span class="tooltiptext left">Blocked: {{ data.block_bot }}/{{ data.total_bot }}</span>
                                                </td>
                                                <td>{{ data.impressions | number }}</td>
                                                <td>{{ data.clicks | number }}</td>
                                                <td>
                                                    {{ data.trk_clicks | number }}
                                                    <span *ngIf="showCalcClicks(data.trk_clicks, data.clicks)" [ngClass]="{'font-green':calcClicks(data.trk_clicks, data.clicks)>0,'font-red':calcClicks(data.trk_clicks, data.clicks)<=0}"
                                                        style="font-size: 80%;">
                                                        <strong>{{ renderCalcClicks(data.trk_clicks, data.clicks) }}</strong>
                                                    </span>
                                                </td>
                                                <td>{{ data.lp_clicks | number }}</td>
                                                <td>{{ data.ctr | number:'1.1-2' }}%</td>
                                                <td>{{ data.lp_ctr | number:'1.1-2' }}%</td>
                                                <td>{{ data.cpc | currency:'USD':true:'1.2' }}</td>
                                                <td>{{ data.conversions | number }}</td>
                                                <td>{{ data.cost | currency:'USD':true:'1.2' }}</td>
                                                <td>{{ data.revenue | currency:'USD':true:'1.2' }}</td>
                                                <td>{{ data.cpm | currency:'USD':true:'1.2' }}</td>
                                                <td>
                                                    <span [ngClass]="(data.net < 0) ? 'label-danger' : (data.net > 0) ? 'label-success' : 'label-default'" class="label label-sm">
                                                        {{ data.net | currency:'USD':true:'1.2' }} </span>
                                                </td>
                                                <td>
                                                    <span [ngClass]="(data.roi < 0) ? 'label-danger' : (data.roi > 0) ? 'label-success' : 'label-default'" class="label label-sm">
                                                        {{ data.roi | number:'1.1-2' }}% </span>
                                                </td>
                                                <td *ngIf="displayUnblockButton(item)">
                                                    <button class="btn btn-xs blue" (click)="unBlockSite(item,data)">
                                                        <i class="fa fa-history" aria-hidden="true"></i> Unblock</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>


                        <tfoot *ngIf="mf.data && mf.data.length > 0">
                            <tr>
                                <td [attr.colspan]="tableSetting.columnCount">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <p>Showing {{ mf.data.length }} of {{ siteCount }} entries</p>
                </div>

            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->