<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a routerLink="/campaigns">{{ title }}</a>
        </li>
    </ul>
</div>
<div class="clearfix"></div>

<h3 class="page-title pull-left">{{ title }}</h3>
<div class="clearfix"></div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-diamond theme-font"></i>
                    <span class="caption-subject font-red bold uppercase">{{ title }} List</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="actions" style="margin-bottom:20px">
                            <div *ngxPermissionsOnly="['ADMIN']" class="btn-group btn-group-devided" data-toggle="buttons">
                                <button (click)="openCreateForm()" class="btn btn-sm green touch" style="margin-left: 0;">
                                    <i class="fa fa-plus"></i> New Campaign </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>
                            Show
                            <select [(ngModel)]="tableSetting.rowsOnPage" class="form-control input-xsmall input-inline">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                            </select>
                            records
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="form-group" style="display:inline">
                                <label>Status</label>
                                <select [(ngModel)]="filterStatus" (change)="onChangeStatus()" class="form-control input-small input-inline" style="margin-right:15px">
                                    <option value="all" selected="selected">ALL</option>
                                    <option value="archived">ARCHIVED</option>
                                </select>
                            </div>

                            <label>Search:
                                <input [(ngModel)]="filterQuery" class="form-control input-small input-inline" />
                            </label>
                        </div>
                    </div>
                </div>

                <!-- TABLE -->
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" #mf="mfDataTable" [mfData]="campaignList | filter:'name':filterQuery"
                        [mfRowsOnPage]="tableSetting.rowsOnPage" [(mfSortBy)]="tableSetting.sortBy" [(mfSortOrder)]="tableSetting.sortOrder">
                        <thead>
                            <tr>
                                <th class="table-checkbox">
                                    <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />
                                </th>
                                <th>
                                    <mfDefaultSorter by="_id">Campaign ID</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="name">Campaign Name</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                </th>
                                <th>
                                    <mfDefaultSorter by="type">Traffic Source</mfDefaultSorter>
                                </th>
                                <th> Deploy URL </th>
                                <th>
                                    <mfDefaultSorter by="created_at">Created Time</mfDefaultSorter>
                                </th>
                                <th *ngxPermissionsOnly="['ADMIN']" style="text-align: right;"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="mf.data && mf.data.length==0">
                                <td [attr.colspan]="tableSetting.columnCount">Campaign not found.</td>
                            </tr>
                            <tr *ngFor="let item of mf.data; let i = index;" class="odd gradeX" [ngClass]="{'active': item.selected}">
                                <td>
                                    <input type="checkbox" [(ngModel)]="item.selected" (change)="checkIfAllSelected();" />
                                </td>
                                <td>{{ item._id }}</td>
                                <td>
                                    <p class="bold font-blue">{{ item.name }}</p>
                                </td>
                                <td>
                                    <span [ngClass]="(item.status==='RUNNING') ? 'label-success' : (item.status==='PENDING' || item.status==='PENDING_APPROVAL') ? 'label-warning' : 'label-default'"
                                        class="label">{{ item.status }}</span>
                                </td>
                                <td>{{ item.type }}</td>
                                <td>
                                    <a *ngIf="item.id_fraud" href="http://performancetracking.net/?{{item.id_fraud}}" target="_blank">http://performancetracking.net/?{{item.id_fraud}}</a>
                                </td>
                                <td>{{ item.created_at | date:'y/MM/dd HH:mm:ss a Z' }}</td>
                                <td *ngxPermissionsOnly="['ADMIN']" align="right">
                                    <div class="btn-group nowrap">
                                        <button type="button" class="btn btn-primary btn-sm" style="margin-right:0;float:none">Actions</button>
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" style="float:none" data-toggle="dropdown">
                                            <i class="fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li>
                                                <a *ngIf="item.tracker_id" (click)="edit(item)" title="Edit">
                                                    <i class="fa fa-edit"></i> Edit
                                                </a>
                                            </li>
                                            <li>
                                                <a *ngIf="item.tracker_id" (click)="duplicate(item)" title="Duplicate">
                                                    <i class="fa fa-copy"></i> Duplicate
                                                </a>
                                            </li>
                                            <li>
                                                <a *ngIf="item.archived===0" (click)="archive(item)" title="Restore">
                                                    <i class="fa fa-archive" aria-hidden="true"></i> Archive
                                                </a>
                                                <a *ngIf="item.archived===1" (click)="unArchive(item)" title="Restore">
                                                    <i class="fa fa-history" aria-hidden="true"></i> Restore
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="mf.data && mf.data.length > 0">
                            <tr>
                                <td [attr.colspan]="tableSetting.columnCount">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <p>Showing {{ mf.data.length }} of {{ campaignsCount }} entries</p>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->