<http-loading [showLoading]="showLoading"></http-loading>

<!-- BEGIN PAGE HEADER-->
<div class="page-bar">

    <div id="tracker_filter" class="page-toolbar pull-left">
        <div class="pull-left" style="margin-right: 10px;">
            <label>Source</label>
            <select [(ngModel)]="accountAPI.traffic_source.type" (change)="changeTrafficSourceType();" class="form-control input-inline input-small">
                <option *ngFor="let type of TrafficSourceTypes" value="{{ type.id }}">{{ type.name }}</option>
            </select>
        </div>
        <div class="pull-left" style="margin-right: 10px;">
            <select [(ngModel)]="accountAPI.traffic_source.id" (change)="changeTrafficSourceAccount();" class="form-control input-inline input-small">
                <optgroup *ngIf="TrafficSourceList && TrafficSourceList.length > 0" label="{{ accountAPI.traffic_source.type }}">
                    <option *ngFor="let traffic_source of TrafficSourceList" value="{{ traffic_source._id }}">{{ traffic_source.name }}</option>
                </optgroup>
            </select>
        </div>
        <div class="pull-left" style="margin-right: 10px;">
            <label>Tracker</label>
            <select [(ngModel)]="accountAPI.tracker.id" (change)="changeTrackerAccount();" class="form-control input-inline input-small">
                <optgroup *ngIf="TrackerList && TrackerList.length > 0" label="{{ accountAPI.traffic_source.name }}">
                    <option *ngFor="let trk of TrackerList" value="{{ trk._id }}">{{ trk.name }}</option>
                </optgroup>
            </select>
        </div>
    </div>

    <div class="page-toolbar">
        <daterangepicker [callback]="filterDate"></daterangepicker>
    </div>
</div>
<div class="clearfix"></div>
<!-- END PAGE HEADER-->

<h3 class="page-title pull-left">{{ title }}</h3>

<system-time [systemTime]="systemTime"></system-time>

<dashboard-stats [statTotals]="statTotals"></dashboard-stats>

<div class="row">
    <div class="col-md-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-line-chart font-green-sharp"></i>
                    <span class="caption-subject font-green-sharp bold uppercase">Statistics</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <canvas height="60" *ngIf="lineChartData && lineChartData.length > 0" baseChart #baseChart="base-chart" [datasets]="lineChartData"
                    [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                    [chartType]="lineChartType"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div *ngIf="titleCampaign" class="caption">
                    <i class="fa fa-cogs font-blue-steel"></i>
                    <span class="caption-subject font-blue-steel bold uppercase">{{titleCampaign}}</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-4">

                        <button *ngxPermissionsOnly="['ADMIN']" class="btn btn-primary" (click)="reloadCampaign();" title="Refresh Campaigns" style="margin-top:-2px">
                            <i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
                        <label>
                            <select [(ngModel)]="tableOptions.rowsOnPage" class="form-control input-xsmall input-inline">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                            </select>
                            records
                        </label>

                    </div>
                    <div class="col-md-8">
                        <div class="pull-right">
                            <div class="form-group" style="display:inline">
                                <label>Status</label>
                                <select [(ngModel)]="filterStatus" class="form-control input-small input-inline" style="margin-right:15px">
                                    <option value="" selected="selected">All</option>
                                    <option value="running">RUNNING</option>
                                    <option value="paused">PAUSED</option>
                                    <option value="pending_approval">PENDING_APPROVAL</option>
                                </select>
                            </div>

                            <div class="form-group" style="display:inline">
                                <label>Search:
                                    <input [(ngModel)]="filterQuery" class="form-control input-small input-inline" />
                                </label>
                                <button class="btn btn-default" (click)="clearSearchText()">
                                    <i class="fa fa-times" aria-hidden="true"></i> Clear</button>
                            </div>

                            <div class="form-group" style="display:inline;margin-left:10px">
                                <ss-multiselect-dropdown [options]="tableColumns" [settings]="tableColumnSettings" [texts]="tableColumnTexts" [(ngModel)]="tableColumnModel"
                                    (ngModelChange)="onChangeColumns($event)"></ss-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" #mf="mfDataTable" [mfData]="campaignList | filter:'name':filterQuery | filter:'status':filterStatus"
                        [mfRowsOnPage]="tableOptions.rowsOnPage" [(mfSortBy)]="tableOptions.sortBy" [(mfSortOrder)]="tableOptions.sortOrder">
                        <thead>
                            <tr>
                                <th class="table-checkbox">
                                    <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />
                                </th>
                                <th *ngIf="hasColumn('id')" title="Campaign ID">
                                    <mfDefaultSorter by="id">Camp.ID</mfDefaultSorter>
                                </th>
                                <th *ngxPermissionsOnly="['ADMIN']">Actions</th>
                                <th *ngIf="hasColumn('name')">
                                    <mfDefaultSorter by="name">Name</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('status')">
                                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('impressions')" title="Impressions">
                                    <mfDefaultSorter by="impressions">Imp.</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('clicks')">
                                    <mfDefaultSorter by="clicks">Clicks</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('trk_clicks')" title="Tracker Visits">
                                    <mfDefaultSorter by="trk_clicks">Trk Clicks</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('lp_clicks')" title="Tracker Clicks">
                                    <mfDefaultSorter by="lp_clicks">LP Clicks</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('ctr')">
                                    <mfDefaultSorter by="ctr">CTR</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('lp_ctr')" title="Tracker CTR" title="Tracker CTR">
                                    <mfDefaultSorter by="lp_ctr">LP Ctr</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('conversions')" title="Conversions">
                                    <mfDefaultSorter by="conversions">Conv</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('cost')">
                                    <mfDefaultSorter by="cost">Cost</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('revenue')" title="Revenue">
                                    <mfDefaultSorter by="revenue">Rev</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('cpm')">
                                    <mfDefaultSorter by="cpm">CPM</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('net')">
                                    <mfDefaultSorter by="net">Net</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('roi')">
                                    <mfDefaultSorter by="roi">ROI</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('cv')">
                                    <mfDefaultSorter by="cv">CV</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('epc')">
                                    <mfDefaultSorter by="epc">EPC</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('epv')">
                                    <mfDefaultSorter by="epv">EPV</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('cpv')">
                                    <mfDefaultSorter by="cpv">CPV</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('cpa')">
                                    <mfDefaultSorter by="cpa">CPA</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('ap')" title="Payout">
                                    <mfDefaultSorter by="ap">AP</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('rmk_clicks')">
                                    <mfDefaultSorter by="rmk_clicks" title="Remarketing Clicks">Re. Clicks</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('rmk_cost')">
                                    <mfDefaultSorter by="rmk_cost" title="Remarketing Cost">Re. Cost</mfDefaultSorter>
                                </th>
                                <th *ngIf="hasColumn('rmk_conversions')" title="Remarketing Conversions">
                                    <mfDefaultSorter by="rmk_conversions">Re. Conv</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="mf.data && mf.data.length == 0">
                                <td [attr.colspan]="tableOptions.columnCount">No result found</td>
                            </tr>
                            <tr *ngFor="let item of mf.data; let i = index;" class="odd gradeX" [ngClass]="{'active': item.selected}">
                                <td>
                                    <input type="checkbox" value="{{ item.id }}" [(ngModel)]="item.selected" (change)="checkIfAllSelected();" />
                                </td>
                                <td *ngIf="hasColumn('id')">
                                    <strong>{{showItemId(item)}}</strong>
                                </td>
                                <td *ngxPermissionsOnly="['ADMIN']">
                                    <div style="width: 80px">
                                        <button *ngIf="item.status!=='PAUSED'" (click)="campaignStatus(item, false)" title="Stop campaign" type="button" class="btn btn-outline btn-xs yellow-gold"
                                            [disabled]="item.status!=='RUNNING'">
                                            <i class="fa fa-pause" aria-hidden="true"></i>
                                        </button>

                                        <button *ngIf="item.status==='PAUSED'" (click)="campaignStatus(item, true)" title="Resume campaign" type="button" class="btn btn-outline btn-xs green-meadow">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </button>

                                        <button (click)="updateBid(item)" title="Change Bid/Budget" type="button" class="btn btn-outline btn-xs yellow-gold">
                                            <i class="fa fa-usd" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </td>
                                <td *ngIf="hasColumn('name')">
                                    <span *ngIf="!item.id">{{ item.name }}</span>
                                    <a *ngIf="item.id" routerLink="/campaign/{{ item._id }}" class="nowrap font-blue bold">{{ item.name }}</a>
                                </td>
                                <td *ngIf="hasColumn('status')">
                                    <span [ngClass]="(item.status==='RUNNING') ? 'label-success' : (item.status==='PENDING' || item.status==='PENDING_APPROVAL') ? 'label-warning' : 'label-default'"
                                        class="label">{{ item.status }}</span>
                                </td>
                                <td *ngIf="hasColumn('impressions')">{{ item.impressions | number }}</td>
                                <td *ngIf="hasColumn('clicks')">{{ item.clicks | number }}</td>
                                <td *ngIf="hasColumn('trk_clicks')">
                                    <p class="nowrap">
                                        {{ item.trk_clicks | number }}
                                        <span *ngIf="showCalcClicks(item.trk_clicks, item.clicks)" [ngClass]="calcClicks(item.trk_clicks, item.clicks) > 0 ? 'font-green' : 'font-red'"
                                            style="font-size: 80%;">
                                            <strong>{{ renderCalcClicks(item.trk_clicks, item.clicks) }}</strong>
                                        </span>
                                    </p>
                                </td>
                                <td *ngIf="hasColumn('lp_clicks')">{{ item.lp_clicks | number }}</td>
                                <td *ngIf="hasColumn('ctr')">{{ item.ctr | number:'1.1-2' }}%</td>
                                <td *ngIf="hasColumn('lp_ctr')">{{ item.lp_ctr | number:'1.1-2' }}%</td>
                                <td *ngIf="hasColumn('conversions')">{{ item.conversions | number }}</td>
                                <td *ngIf="hasColumn('cost')">
                                    <p class="nowrap">
                                        {{ item.cost | currency:'USD':true:'1.2' }}
                                        <span *ngIf="item.amountSpent && item.amountSpent > 0" class="bg-purple-wisteria" title="Real-time spent" style="font-size:11px;padding:0 5px">{{ item.amountSpent | currency:'USD':true:'1.2' }}</span>
                                    </p>
                                </td>
                                <td *ngIf="hasColumn('revenue')">{{ item.revenue | currency:'USD':true:'1.2' }}</td>
                                <td *ngIf="hasColumn('cpm')">{{ item.cpm | currency:'USD':true:'1.2' }}</td>
                                <td *ngIf="hasColumn('net')">
                                    <span [ngClass]="(item.net < 0) ? 'label-danger' : (item.net > 0) ? 'label-success' : 'label-default'" class="label label-sm">
                                        {{ item.net | currency:'USD':true:'1.2' }} </span>
                                </td>
                                <td *ngIf="hasColumn('roi')">
                                    <span [ngClass]="(item.roi < 0) ? 'label-danger' : (item.roi > 0) ? 'label-success' : 'label-default'" class="label label-sm">
                                        {{ item.roi | number:'1.1-2' }}% </span>
                                </td>
                                <td *ngIf="hasColumn('cv')">{{ item.cv | number:'1.1-2' }}%</td>
                                <td *ngIf="hasColumn('epc')">{{ item.epc | currency:'USD':true:'1.2' }}</td>
                                <td *ngIf="hasColumn('epv')">{{ item.epv | currency:'USD':true:'1.4' }}</td>
                                <td *ngIf="hasColumn('cpv')">{{ item.cpv | currency:'USD':true:'1.4' }}</td>
                                <td *ngIf="hasColumn('cpa')">{{ item.cpa | currency:'USD':true:'1.3' }}</td>
                                <td *ngIf="hasColumn('ap')">{{ item.ap | currency:'USD':true:'1.2' }}</td>
                                <td *ngIf="hasColumn('rmk_clicks')">{{ item.rmk_clicks | number }}</td>
                                <td *ngIf="hasColumn('rmk_cost')">{{ item.rmk_cost | currency:'USD':true:'1.2' }}</td>
                                <td *ngIf="hasColumn('rmk_conversions')">{{ item.rmk_conversions | number }}</td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="mf.data && mf.data.length > 0">
                            <tr>
                                <td [attr.colspan]="tableOptions.columnCount">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50,100]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <p>Showing {{ mf.data.length }} of {{ campaignCount }} entries</p>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->