<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a routerLink="/manual-stats-update">{{ title }}</a>
        </li>
    </ul>
</div>
<div class="clearfix"></div>

<h3 class="page-title pull-left">{{ title }}</h3>
<div class="clearfix"></div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <blockquote style="background-color:#ffffff">
            <p>Here you can manually update
                <strong>traffic source &amp; tracker stats</strong> of your campaigns for past days.</p>
            <p>This is useful in case you have late conversions coming to your tracker or if you manually updated conversions
                that affected past days stats.</p>
        </blockquote>

        <form #statsUpdateForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">Select Date or Date Range:</label>
                <div class="col-md-9">
                    <div id="dashboard-date-range" class="input-group" daterangepicker (selected)="selectedDate($event, data)">
                        <span class="form-control uneditable-input" name="daterange">
                            <i class="icon-calendar"></i>
                            {{ data.start_date | date:'MMMM dd, y' }} - {{ data.end_date | date:'MMMM dd, y' }}
                        </span>
                    </div>
                    <p class="help-block">Date range limit: 10 days.</p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Select Campaign to Update:</label>
                <div class="col-md-9">
                    <select [(ngModel)]="data.campaign_id" name="campaign" class="form-control input-large">
                        <option value="">Select campaign</option>
                        <option *ngFor="let item of campaigns" value="{{item._id}}">{{item.name}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-9">
                    <button type="submit" class="btn btn-primary uppercase touch" [attr.disabled]="showLoading ? true : null">
                        <i class="fa fa-database" aria-hidden="true"></i> Update Data</button>
                    <img *ngIf="showLoading" src="assets/images/admin/input-spinner.gif" alt="Loading..." />
                </div>
            </div>
        </form>

    </div>
</div>