<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a routerLink="/rules">{{ title }}</a>
        </li>
    </ul>
</div>
<div class="clearfix"></div>

<h3 class="page-title pull-left">{{ title }}</h3>
<div class="clearfix"></div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-puzzle theme-font"></i>
                    <span class="caption-subject font-red bold uppercase">{{ title }} List</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngxPermissionsOnly="['ADMIN']" class="actions" style="margin-bottom:20px">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <button (click)="openCreateForm()" class="btn btn-sm green touch" style="margin-left: 0;">
                                    <i class="fa fa-plus"></i> New Rule </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>
                            Show
                            <select [(ngModel)]="tableSetting.rowsOnPage" class="form-control input-xsmall input-inline">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                            </select>
                            records
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <label>Search:
                                <input [(ngModel)]="filterQuery" class="form-control input-small input-inline" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" #mf="mfDataTable" [mfData]="ruleList | filter:'name':filterQuery"
                        [mfRowsOnPage]="tableSetting.rowsOnPage" [(mfSortBy)]="tableSetting.sortBy" [(mfSortOrder)]="tableSetting.sortOrder">
                        <thead>
                            <tr>
                                <th class="table-checkbox">
                                    <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />
                                </th>
                                <th> Rule Name </th>
                                <th> Rule Action </th>
                                <th> Rule Description </th>
                                <th> Data Interval </th>
                                <th> Rotation </th>
                                <th>
                                    <mfDefaultSorter by="created_at"> Created Time </mfDefaultSorter>
                                </th>
                                <th *ngxPermissionsOnly="['ADMIN']" class="text-right"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="mf.data && mf.data.length==0">
                                <td [attr.colspan]="tableSetting.columnCount">Rule not found.</td>
                            </tr>
                            <tr *ngFor="let item of mf.data; let i = index;" class="odd gradeX" [ngClass]="{'active': item.selected}">
                                <td>
                                    <input type="checkbox" [(ngModel)]="item.selected" (change)="checkIfAllSelected();" />
                                </td>
                                <td>
                                    <div *ngIf="isEnalbe(item)" class="nowrap">
                                        <i class="fa fa-check-circle font-green-jungle" aria-hidden="true" title="Enabled"></i>
                                        {{item.name}}
                                        <span *ngIf="item.campaigns && item.campaigns.length > 0" class="badge badge-{{ showLevel(item).type }} tooltips" style="cursor: help;"
                                            title="{{ showLevel(item).text }}"> {{ showLevel(item).icon }} </span>
                                    </div>
                                    <div *ngIf="!isEnalbe(item)" class="nowrap">
                                        <i class="fa fa-ban font-yellow-gold" aria-hidden="true" title="Disabled"></i>
                                        {{item.name}}
                                    </div>
                                </td>
                                <td>{{ showAction(item) }}</td>
                                <td [innerHTML]="showCriterias(item)"></td>
                                <td>{{ item.interval }}</td>
                                <td>{{ item.rotation }}</td>
                                <td>{{ item.created_at | date:'y/MM/dd HH:mm:ss a Z' }}</td>
                                <td *ngxPermissionsOnly="['ADMIN']" align="right">
                                    <p class="nowrap">
                                        <a (click)="edit(item)" class="btn default btn-xs purple" title="Edit">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>

                                        <a *ngIf="isEnalbe(item)" (click)="disable(item)" class="btn default btn-xs">
                                            <span class="font-red" title="Disable">
                                                <i class="fa fa-minus-circle"></i>
                                                Disable
                                            </span>
                                        </a>
                                        <a *ngIf="!isEnalbe(item)" (click)="enable(item)" class="btn default btn-xs">
                                            <span class="font-green-seagreen" title="Enable">
                                                <i class="fa fa-plus-circle"></i>
                                                Enable
                                            </span>
                                        </a>

                                        <a (click)="delete(item)" class="btn default btn-xs black" title="Delete">
                                            <i class="fa fa-trash-o"></i> Delete
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="mf.data && mf.data.length > 0">
                            <tr>
                                <td [attr.colspan]="tableSetting.columnCount">
                                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50]"></mfBootstrapPaginator>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <p>Showing {{ mf.data.length }} of {{ rulesCount }} entries</p>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<!-- END PAGE CONTENT-->