<!-- BEGIN DASHBOARD STATS -->
<div *ngIf="statTotals" class="row">
    <div class="col-md-3 col-sm-6 col-xs-12" [ngClass]="statTotals.remarketing ? 'col-lg-15' : 'col-lg-3'">
        <div class="dashboard-stat blue-madison">
            <div class="visual">
                <i class="fa fa-dollar"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{ statTotals.cost | currency:'USD':true:'1.2' }}
                </div>
                <div class="desc">
                    Total Cost
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="statTotals.remarketing" class="col-lg-15 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat yellow-casablanca">
            <div class="visual">
                <i class="fa fa-crosshairs" aria-hidden="true"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{ statTotals.rmk_cost | currency:'USD':true:'1.2' }}
                </div>
                <div class="desc">
                    Total Remarketing Cost
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" [ngClass]="statTotals.remarketing ? 'col-lg-15' : 'col-lg-3'">
        <div class="dashboard-stat green-haze">
            <div class="visual">
                <i class="fa fa-money"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{ statTotals.revenue | currency:'USD':true:'1.2' }}
                </div>
                <div class="desc">
                    Total Revenue
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" [ngClass]="statTotals.remarketing ? 'col-lg-15' : 'col-lg-3'">
        <div class="dashboard-stat red-intense">
            <div class="visual">
                <i class="fa fa-briefcase"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{ statTotals.net | currency:'USD':true:'1.2' }}
                </div>
                <div class="desc">
                    Total Net
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-12" [ngClass]="statTotals.remarketing ? 'col-lg-15' : 'col-lg-3'">
        <div class="dashboard-stat purple-plum">
            <div class="visual">
                <i class="fa fa-undo" aria-hidden="true"></i>
            </div>
            <div class="details">
                <div class="number">
                    {{ statTotals.roi | number:'1.1-2' }}%
                </div>
                <div class="desc">
                    Return On Investment
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END DASHBOARD STATS -->
<div class="clearfix"></div>