<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a routerLink="/trackers">{{ title }}</a>
        </li>
    </ul>
</div>
<div class="clearfix"></div>

<h3 class="page-title pull-left">{{ title }}</h3>
<div class="clearfix"></div>
<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-map-marker theme-grey"></i>
                    <span class="caption-subject font-green bold uppercase">{{ title }}</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>

            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div *ngxPermissionsOnly="['ADMIN']" class="actions" style="margin-bottom:20px">
                            <div class="btn-group btn-group-devided" data-toggle="buttons">
                                <button (click)="openCreateForm()" class="btn btn-sm green touch" style="margin-left: 0;">
                                    <i class="fa fa-plus"></i> New Tracker </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>
                            Show
                            <select [(ngModel)]="tableSetting.rowsOnPage" class="form-control input-xsmall input-inline">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                            </select>
                            records
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <label>Search:
                                <input [(ngModel)]="filterQuery" class="form-control input-small input-inline" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" #mf="mfDataTable" [mfData]="trackerList | filter:'name':filterQuery"
                        [mfRowsOnPage]="tableSetting.rowsOnPage" [(mfSortBy)]="tableSetting.sortBy" [(mfSortOrder)]="tableSetting.sortOrder">
                        <thead>
                            <tr>
                                <th class="table-checkbox">
                                    <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />
                                </th>
                                <th> Name </th>
                                <th> Tracker Type </th>
                                <th> Client ID </th>
                                <th>
                                    <mfDefaultSorter by="created_at">Time</mfDefaultSorter>
                                </th>
                                <th *ngxPermissionsOnly="['ADMIN']" style="text-align: right;"> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="mf.data && mf.data.length==0">
                                <td [attr.colspan]="tableSetting.columnCount">Tracker not found.</td>
                            </tr>
                            <tr *ngFor="let item of mf.data; let i = index;" class="odd gradeX">
                                <td>
                                    <input type="checkbox" [(ngModel)]="item.selected" (change)="checkIfAllSelected();" />
                                </td>
                                <td>
                                    <a (click)="edit(item)" class="column-name">
                                        <i *ngIf="isEnalbe(item)" class="fa fa-check-circle font-green-jungle" aria-hidden="true" title="Enabled"></i>
                                        <i *ngIf="!isEnalbe(item)" class="fa fa-ban font-yellow-gold" aria-hidden="true" title="Disabled"></i>
                                        {{ item.name }}
                                    </a>
                                </td>
                                <td>{{ item.type }}</td>
                                <td>{{ displayKeyId(item) }}</td>
                                <td>{{ item.created_at | date:'y/MM/dd HH:mm:ss a Z' }}</td>
                                <td *ngxPermissionsOnly="['ADMIN']" align="right">
                                    <p class="nowrap">
                                        <a (click)="edit(item)" class="btn default btn-xs purple" title="Edit">
                                            <i class="fa fa-edit"></i> Edit
                                        </a>

                                        <a *ngIf="isEnalbe(item)" (click)="disable(item)" class="btn default btn-xs">
                                            <span class="font-red" title="Disable">
                                                <i class="fa fa-minus-circle"></i> Disable
                                            </span>
                                        </a>
                                        <a *ngIf="!isEnalbe(item)" (click)="enable(item)" class="btn default btn-xs">
                                            <span class="font-green-seagreen" title="Enable">
                                                <i class="fa fa-plus-circle"></i> Enable
                                            </span>
                                        </a>

                                        <a (click)="delete(item)" class="btn btn-default btn-xs black" title="Delete">
                                            <i class="fa fa-trash-o"></i> Delete
                                        </a>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Showing {{ mf.data.length }} of {{ trackersCount }} entries</p>
                </div>
            </div>
        </div>
    </div>
</div>