<http-loading [showLoading]="showLoading"></http-loading>

<!-- BEGIN PAGE HEADER-->
<div class="page-bar">
    <ul *ngIf="campaignDetail" class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/dashboard">Dashboard</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>{{ campaignDetail.name }} &nbsp;&nbsp;
            <img [src]="trafficSourceLogo" width="16" height="16" title="{{accountAPI.traffic_source.type}}" /> {{accountAPI.traffic_source.name}} -
            <img [src]="trackerLogo" width="16" height="16" title="{{accountAPI.tracker.type}}" />{{accountAPI.tracker.name}}</li>
    </ul>
    <div class="page-toolbar">
        <daterangepicker [callback]="filterDate"></daterangepicker>
    </div>
</div>
<div class="clearfix"></div>
<!-- END PAGE HEADER-->

<h3 *ngIf="campaignDetail" class="page-title pull-left">{{campaignDetail.name}}</h3>

<system-time [systemTime]="systemTime"></system-time>

<dashboard-stats [statTotals]="statTotals"></dashboard-stats>

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-line-chart"></i>
                    <span class="caption-subject bold uppercase">Stats</span>
                    <span class="caption-helper">Traffic Reporting &amp; Analysis</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <canvas height="63" *ngIf="statsChartData" baseChart #statsChart="base-chart" [datasets]="statsChartData"
                    [labels]="statsChartLabels" [options]="statsChartOptions" [colors]="statsChartColors" [legend]="statsChartLegend"
                    [chartType]="statsChartType"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-filter"></i>
                    <span class="caption-subject bold uppercase">Block Breakdown</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <canvas height="135" *ngIf="blockChartData" baseChart #blockChart="base-chart" [data]="blockChartData"
                    [labels]="blockChartLabels" [chartType]="blockChartType"></canvas>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <div class="tabbable-line caption-subject">
                        <ul class="nav nav-tabs font-dark bold uppercase">
                            <li class="active">
                                <a href="#tab_sites" data-toggle="tab">
                                    <i class="fa fa-globe font-dark"></i> Sites</a>
                            </li>
                            <li>
                                <a href="#tab_contents" data-toggle="tab">
                                    <i class="fa fa-image font-dark"></i> Contents</a>
                            </li>
                            <li>
                                <a href="#tab_tracker_view" data-toggle="tab">
                                    <i class="fa fa-map-marker font-dark"></i> Tracker View</a>
                            </li>
                            <!-- <li *ngxPermissionsOnly="['ADMIN']">
                                <a href="#tab_tracker" data-toggle="tab">
                                    <i class="fa fa-cube font-dark"></i> Tracker</a>
                            </li> -->
                            <li *ngxPermissionsOnly="['ADMIN']">
                                <a href="#tab_rules" data-toggle="tab">
                                    <i class="icon-puzzle font-dark"></i> Rules</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <div id="tab_sites" class="tab-pane active">
                        <widget-sites [filterData]="filterData" [campaignDetail]="campaignDetail" [campaignId]="campaignId" [widgetList]="widgetList"
                            [widgetCount]="widgetCount" [statTotals]="statTotals" [fraudCampaigns]="fraudCampaigns" [fraudCampaignId]="fraudCampaignId"
                            [filterStatus]="filterStatus" (cbFilterStatus)="callBackfilterStatus($event)" (addCampFraud)="saveCampaignFraud($event)"
                            (startLoading)="start()" (stopLoading)="complete()" [tableColumnSettings]="tableColumnSettings" [tableColumnTexts]="tableColumnTexts"
                            [subscription]="subscription"></widget-sites>
                    </div>

                    <div id="tab_contents" class="tab-pane">
                        <widget-contents *ngIf="contentList" [filterData]="filterData" [contentList]="contentList" [contentSummary]="contentSummary"
                            [contentCount]="contentCount" [campaignId]="campaignId" [tableColumnSettings]="tableColumnSettings"
                            [tableColumnTexts]="tableColumnTexts" (startLoading)="start()" (stopLoading)="complete()"></widget-contents>
                    </div>

                    <div id="tab_tracker_view" class="tab-pane">
                        <widget-tracker-view *ngIf="campaignDetail && trackerView" [filterData]="filterData" [trackerView]="trackerView" [campaignDetail]="campaignDetail"
                            [tableColumnSettings]="tableColumnSettings" [tableColumnTexts]="tableColumnTexts" (startLoading)="start()"
                            (stopLoading)="complete()"></widget-tracker-view>
                    </div>

                    <!-- <div *ngxPermissionsOnly="['ADMIN']" id="tab_tracker" class="tab-pane">
                        <widget-tracker-campaign *ngIf="campaignDetail" [campaignDetail]="campaignDetail" (startLoading)="start()" (stopLoading)="complete()"></widget-tracker-campaign>
                    </div> -->

                    <div *ngxPermissionsOnly="['ADMIN']" id="tab_rules" class="tab-pane">
                        <widget-rules *ngIf="campaignDetail" [campaignDetail]="campaignDetail"></widget-rules>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END PAGE CONTENT-->