input[type=radio]{
    vertical-align: text-top;
}

.info-tooltip{
    color: #a2a2a2;
    cursor: pointer;
}

.radio-list label{
    margin-bottom: 10px !important;
}

.rule_row{
    background: rgb(241, 241, 241); margin-bottom: 5px; margin-left: 0px; margin-right: 0px; padding: 5px; position: relative;

    .data-toogle-buttons>.btn input[type=checkbox],
    .data-toogle-buttons>.btn input[type=radio], 
    .data-toogle-buttons>.btn-group>.btn input[type=checkbox], 
    .data-toogle-buttons>.btn-group>.btn input[type=radio] {
        position: absolute;clip: rect(0,0,0,0);pointer-events: none;
    }
    
    .help-inline{
        font-size: 18px;padding: 4px;
    }

    input[type=checkbox]{
        min-height: 26px !important;
    }
}

.required-icon{
    color: #ff4e54;
}

.error-text {
    padding: 0 .5rem;
    margin: 0;
    list-style: none;
    li {
        color: #ff5315;
        font-size: 12px;
        margin-top: 5px;
    }
}

.path-list-item{
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;

    .path-title{
        margin-bottom: 10px;
    }

    .bootstrap-switch{
        vertical-align: top !important;
        text-transform: uppercase;
    }

    .path-container{
        padding: 10px;
        margin-bottom: 15px;
        
        .path-item{
            margin-bottom: 10px;
            .actions-icon{
                cursor: pointer;
                margin-top: 9px;
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
}

.prefix-campaign-name{
    border: 1px solid #e5e5e5;
    border-right: 0;
    line-height: 32px;
    padding-left: 15px;
}

.no-border-left{
    border-left: 0 !important;
}