.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

.page-header.navbar .page-logo .logo-default {
    margin: 9px 0 0 0 !important;
}

.menu-toggler-custom {
    width: 33px;
    height: 35px;
}

#dashboard-date-range {
    max-width: 380px;
    cursor: pointer;

    .form-control {
        background-color: #bfcad1;
        color: #ffffff;
        border: 1px solid #bfcad1;
        text-transform: uppercase;
        font-weight: 600;

        &:hover {
            background-color: #AAB9C2;
        }
    }
}

#tracker_filter {
    select {
        cursor: pointer;
    }
}

@media (max-width: 480px) {
    .page-toolbar, #dashboard-date-range {
        width: 100% !important;
    }

    #tracker_filter {
        div {
            float: none !important;
            width: 100% !important;

            label {
                display: block;
            }

            select {
                width: 100% !important;
                margin-bottom: 15px;
            }
        }
    }

    .portlet-body {
        .pull-right {
            float: none !important;

            .form-group {
                display: block !important;
                margin-left: 0 !important;
            }
        }
    }

    ul.nav-tabs{
        li{
            float: none !important;
            width: 100%;
        }
    }
}
