.modal {
    @media (min-width: 768px) {
        text-align: center;

        &:before {
            content: '';
            height: 100%;
            width: 1px;
            display: inline-block;
            vertical-align: middle;
        }

        .modal-dialog {
            width: 55%;
            text-align: left;
            margin: 10px auto;
            display: inline-block;
            vertical-align: middle;
        }

        .modal-content {
            border-top: 1px solid #cccccc;
        }
    }
}

.select2-container {
    z-index: 999999;

    .select2-selection {
        border-radius: 0 !important;
        border: 1px solid #dedede !important;

        ul {
            li {
                background-color: #ffffff !important;
                border-radius: 0 !important;
                padding: 2px 5px !important;

                span {
                    font-size: 14px !important;
                    color: red !important;
                    margin-right: 7px !important;
                }
            }
        }
    }
}

.url-tokens {
    li {
        list-style: none;
        display: inline-block;
        background-color: #F0F3F7;
        color: #8892AA;
        font-size: 12px;
        padding: 2px;
        margin: 3px;
        border-radius: 3px;
        cursor: pointer;
    }

    .selected {
        background-color: #C3CFDE;
        color: #ffffff;
    }
}
