
.nowrap {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
}

.editSiteBid{
    font-size: 11px;
    width: 100px;
    float: left;
    position: relative;
    border: 1px dotted #fff;
    padding: 2px 5px;
    margin-bottom: 5px;

    &:hover{
        border: 1px dotted #ccc;

        .fa{
            display: block;
        }
    }

    .fa{
        display: none;
        position: absolute;
        right:0;
        bottom: 0;
    }
}

#siteBidForm{
    input[type=number]{
        padding: 0 5px;
        text-align: center;
    }
}

.btn {
    &.green-meadow{
        &:not(.btn-outline){
            color: #FFF;
            background-color: #1BBC9B;
            border-color: #1BBC9B;
        }
    }

    &.yellow-gold{
        &:not(.btn-outline) {
            color: #fff;
            background-color: #E87E04;
            border-color: #E87E04;
        }
    }

    &.blue{
        &:not(.btn-outline) {
            color: #FFF;
            background-color: #3598dc;
            border-color: #3598dc;
        }
    }

    &.btn-outline{
        &.green-meadow{
            border-color: #1BBC9B;
            border-width: 1px;
            color: #1BBC9B;
            background: 0 0;
        }

        &.yellow-gold{
            border-color: #E87E04;
            border-width: 1px;
            color: #E87E04;
            background: 0 0;
        }

        &.blue{
            border-color: #3598dc;
            border-width: 1px;
            color: #3598dc;
            background: 0 0;
        }
    }
}

.bg-font-grey-gallery{
    a{
        color: #ffffff;
    }
}

tr {
    &.disabled{
        background-color: #fdffdc !important;
    }
}

.statusText{
    font-size:9px;
    padding:1px 8px;
}