.tooltips {
    position: relative;
    .tooltiptext{
        visibility: hidden;
        font-size: 13px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 3px !important;
        padding: 5px;
        position: absolute;
        z-index: 99999;
        bottom: 105%;
        left: 50%;
        right: -50%;
        margin-left: -60px;
        opacity: 0;
        &.right{
            left: 200% !important;
            right: -200% !important;
            bottom: 15% !important;
            &::after {
                top: 32% !important;
                left: 0 !important;
                margin-left: -10px !important;
                border-color: transparent #555 transparent transparent !important;
            }
        }
        &.left{
            left: -100% !important;
            right: 100% !important;
            bottom: 15% !important;
            &::after {
                top: 32% !important;
                left: auto !important;
                right: 0 !important;
                margin-right: -10px !important;
                border-color: transparent transparent transparent #555 !important;
            }
        }
        &.bottom{
            bottom: -180% !important;
            &::after {
                top: -36% !important;
                border-color: transparent transparent #555 transparent !important;
            }
        }
        &::after{
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
    }
    &:hover{
        .tooltiptext{
            visibility: visible;
            opacity: 1;
        }
    }
}