<div class="row">
    <div class="col-md-6">
        <button *ngxPermissionsOnly="['ADMIN']" class="btn btn-primary" (click)="reloadDatas();" title="Refresh Sites" style="margin-top:-2px">
            <i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <label>
            <select [(ngModel)]="tableOptions.rowsOnPage" class="form-control input-xsmall input-inline">
                <option [ngValue]="10">10</option>
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
                <option [ngValue]="200">200</option>
            </select>
            records
        </label>
    </div>
    <div class="col-md-6">
        <div class="pull-right">
            <div class="form-group" style="display:inline">
                <label>Search:
                    <input [(ngModel)]="filterQuery" class="form-control input-small input-inline" />
                </label>
                <button class="btn btn-default" (click)="clearSearchText()" style="margin-top:-3px">
                    <i class="fa fa-times" aria-hidden="true"></i> Clear</button>
            </div>

            <div class="form-group" style="display:inline;margin-left:10px">
                <ss-multiselect-dropdown [options]="tableColumns" [settings]="tableColumnSettings" [texts]="tableColumnTexts" [(ngModel)]="tableColumnModel"
                    (ngModelChange)="onChangeColumns($event)"></ss-multiselect-dropdown>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" #mf="mfDataTable" [mfData]="contentList | filter:'title':filterQuery"
        [mfRowsOnPage]="tableOptions.rowsOnPage" [(mfSortBy)]="tableOptions.sortBy" [(mfSortOrder)]="tableOptions.sortOrder">
        <thead>
            <tr>
                <th class="table-checkbox">
                    <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />
                </th>
                <th *ngIf="hasColumn('id')">
                    <mfDefaultSorter by="id">Content ID</mfDefaultSorter>
                </th>
                <th>Preview</th>
                <th>
                    <mfDefaultSorter by="title">Title</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="is_active">Enabled</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('impressions')" title="Impressions">
                    <mfDefaultSorter by="impressions">Imp.</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('clicks')" title="Traffic Source Clicks">
                    <mfDefaultSorter by="clicks">TS Clicks</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('trk_clicks')" title="Tracker Visits">
                    <mfDefaultSorter by="trk_clicks">Trk Clicks</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('lp_clicks')" title="Tracker Clicks">
                    <mfDefaultSorter by="lp_clicks">LP Clicks</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('ctr')">
                    <mfDefaultSorter by="ctr">CTR</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('lp_ctr')" title="Tracker CTR">
                    <mfDefaultSorter by="lp_ctr">LP CTR</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cpc')">
                    <mfDefaultSorter by="cpc">CPC</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('conversions')" title="Conversions">
                    <mfDefaultSorter by="conversions">Conv</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cost')">
                    <mfDefaultSorter by="cost">Cost</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('revenue')" title="Revenue">
                    <mfDefaultSorter by="revenue">Rev</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cpm')">
                    <mfDefaultSorter by="cpm">CPM</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('net')">
                    <mfDefaultSorter by="net">Net</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('roi')">
                    <mfDefaultSorter by="roi">ROI</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cv')">
                    <mfDefaultSorter by="cv">CV</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('epc')">
                    <mfDefaultSorter by="epc">EPC</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('epv')">
                    <mfDefaultSorter by="epv">EPV</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cpv')">
                    <mfDefaultSorter by="cpv">CPV</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cpa')">
                    <mfDefaultSorter by="cpa">CPA</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('ap')" title="Payout">
                    <mfDefaultSorter by="ap">AP</mfDefaultSorter>
                </th>
                <th *ngxPermissionsOnly="['ADMIN']" style="text-align: right;"> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!mf.data || mf.data.length == 0">
                <td [attr.colspan]="tableOptions.columnCount">No result found</td>
            </tr>

            <tr *ngIf="contentSummary && (contentSummary | json) != '{}'" class="bold info">
                <td [attr.colspan]="hasColumn('id') ? 6 : 5">Total</td>
                <td *ngIf="hasColumn('impressions')">{{ contentSummary.impressions | number }}</td>
                <td *ngIf="hasColumn('clicks')">{{ contentSummary.clicks | number }}</td>
                <td *ngIf="hasColumn('trk_clicks')">
                    <p class="nowrap">
                        {{ contentSummary.trk_clicks | number }}
                        <span *ngIf="showCalcClicks(contentSummary.trk_clicks, contentSummary.clicks)" [ngClass]="calcClicks(contentSummary.trk_clicks, contentSummary.clicks) > 0 ? 'font-green' : 'font-red'"
                            style="font-size: 80%;">
                            <strong>{{ renderCalcClicks(contentSummary.trk_clicks, contentSummary.clicks) }}</strong>
                        </span>
                    </p>
                </td>
                <td *ngIf="hasColumn('lp_clicks')">{{ contentSummary.lp_clicks | number }}</td>
                <td *ngIf="hasColumn('ctr')">{{ contentSummary.ctr | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('lp_ctr')">{{ contentSummary.lp_ctr | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('cpc')">{{ contentSummary.cpc | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('conversions')">{{ contentSummary.conversions | number }}</td>
                <td *ngIf="hasColumn('cost')">{{ contentSummary.cost | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('revenue')">{{ contentSummary.revenue | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('cpm')">{{ contentSummary.cpm | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('net')">
                    <span [ngClass]="(contentSummary.net < 0) ? 'label-danger' : (contentSummary.net > 0) ? 'label-success' : 'label-default'"
                        class="label label-sm">
                        {{ contentSummary.net | currency:'USD':true:'1.2' }} </span>
                </td>
                <td *ngIf="hasColumn('roi')">
                    <span [ngClass]="(contentSummary.roi < 0) ? 'label-danger' : (contentSummary.roi > 0) ? 'label-success' : 'label-default'"
                        class="label label-sm">
                        {{ contentSummary.roi | number:'1.1-2' }}% </span>
                </td>
                <td *ngIf="hasColumn('cv')">{{ contentSummary.cv | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('epc')">{{ contentSummary.epc | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('epv')">{{ contentSummary.epv | currency:'USD':true:'1.4' }}</td>
                <td *ngIf="hasColumn('cpv')">{{ contentSummary.cpv | currency:'USD':true:'1.4' }}</td>
                <td *ngIf="hasColumn('cpa')">{{ contentSummary.cpa | currency:'USD':true:'1.3' }}</td>
                <td *ngIf="hasColumn('ap')">{{ contentSummary.ap | currency:'USD':true:'1.2' }}</td>
                <td *ngxPermissionsOnly="['ADMIN']"></td>
            </tr>

            <tr *ngFor="let item of mf.data; let i = index;" class="odd gradeX" [ngClass]="{'active': item.selected}">
                <td>
                    <input type="checkbox" value="{{ item.id }}" [(ngModel)]="item.selected" (change)="checkIfAllSelected();" />
                </td>
                <td *ngIf="hasColumn('id')">
                    <strong>{{showItemId(item)}}</strong>
                </td>
                <td>
                    <a href="{{ item.url }}" target="_blank">
                        <img width="80" src="{{ item.thumbnail_url }}" alt="{{ item.title }}" />
                    </a>
                </td>
                <td>
                    <div style="width:200px">
                        <a class="font-blue-steel bold" href="{{ item.url }}" target="_blank">{{ item.title }}</a>
                    </div>
                </td>
                <td>
                    <span [ngClass]="(item.status==='RUNNING' || item.status==='APPROVED') ? 'label-success' : (item.status==='PENDING_APPROVAL' || item.status==='PENDING') ? 'label-warning' : 'label-default'"
                        class="label">{{ item.status }}</span>
                </td>
                <td>
                    <span [ngClass]="(item.is_active===true) ? 'font-green' : 'font-red'" class="bold uppercase">{{ showOnOff(item) }}</span>
                </td>
                <td *ngIf="hasColumn('impressions')">{{ item.impressions | number }}</td>
                <td *ngIf="hasColumn('clicks')">{{ item.clicks | number }}</td>
                <td *ngIf="hasColumn('trk_clicks')">
                    <p class="nowrap">
                        {{ item.trk_clicks | number }}
                        <span *ngIf="showCalcClicks(item.trk_clicks, item.clicks)" [ngClass]="calcClicks(item.trk_clicks, item.clicks) > 0 ? 'font-green' : 'font-red'"
                            style="font-size: 80%;">
                            <strong>{{ renderCalcClicks(item.trk_clicks, item.clicks) }}</strong>
                        </span>
                    </p>
                </td>
                <td *ngIf="hasColumn('lp_clicks')">{{ item.lp_clicks | number }}</td>
                <td *ngIf="hasColumn('ctr')">{{ item.ctr | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('lp_ctr')">{{ item.lp_ctr | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('cpc')">{{ item.cpc | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('conversions')">{{ item.conversions | number }}</td>
                <td *ngIf="hasColumn('cost')">{{ item.cost | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('revenue')">{{ item.revenue | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('cpm')">{{ item.cpm | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('net')">
                    <span [ngClass]="(item.net < 0) ? 'label-danger' : (item.net > 0) ? 'label-success' : 'label-default'" class="label label-sm">
                        {{ item.net | currency:'USD':true:'1.2' }} </span>
                </td>
                <td *ngIf="hasColumn('roi')">
                    <span [ngClass]="(item.roi < 0) ? 'label-danger' : (item.roi > 0) ? 'label-success' : 'label-default'" class="label label-sm">
                        {{ item.roi | number:'1.1-2' }}% </span>
                </td>
                <td *ngIf="hasColumn('cv')">{{ item.cv | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('epc')">{{ item.epc | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('epv')">{{ item.epv | currency:'USD':true:'1.4' }}</td>
                <td *ngIf="hasColumn('cpv')">{{ item.cpv | currency:'USD':true:'1.4' }}</td>
                <td *ngIf="hasColumn('cpa')">{{ item.cpa | currency:'USD':true:'1.3' }}</td>
                <td *ngIf="hasColumn('ap')">{{ item.ap | currency:'USD':true:'1.2' }}</td>
                <td *ngxPermissionsOnly="['ADMIN']" align="right">
                    <p class="nowrap">
                        <a *ngIf="isEnalbe(item)" (click)="disable(item)" class="btn default btn-xs">
                            <span class="font-red" title="Disable">
                                <i class="fa fa-minus-circle"></i> Disable
                            </span>
                        </a>

                        <a *ngIf="!isEnalbe(item)" (click)="enable(item)" class="btn default btn-xs">
                            <span class="font-green-seagreen" title="Enable">
                                <i class="fa fa-plus-circle"></i> Enable
                            </span>
                        </a>

                        <a (click)="delete(item)" class="btn default btn-xs black" title="Delete">
                            <i class="fa fa-trash-o"></i> Delete
                        </a>
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="mf.data && mf.data.length > 0">
            <tr>
                <td [attr.colspan]="tableOptions.columnCount">
                    <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50,100,200]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<p>Showing {{ mf.data.length }} of {{ contentCount }} entries</p>