<div class="row" style="margin-bottom:20px">
    <div class="col-md-12">
        <div class="pull-right">
            <a routerLink="/rules" class="btn btn-default inline">
                <i class="fa fa-thumb-tack" aria-hidden="true"></i> Add Existing Rule To This Campaign</a>

            <div class="form-group inline">
                <button type="button" class="btn btn-success" (click)="openCreateForm()">
                    <i class="fa fa-plus" aria-hidden="true"></i> Create New Rule</button>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" #mf="mfDataTable" [mfData]="ruleList | filter:'name':filterQuery"
        [mfRowsOnPage]="tableSetting.rowsOnPage" [(mfSortBy)]="tableSetting.sortBy" [(mfSortOrder)]="tableSetting.sortOrder">
        <thead>
            <tr>
                <th class="table-checkbox">
                    <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />
                </th>
                <th> Rule Name </th>
                <th> Rule Action </th>
                <th> Rule Description </th>
                <th> Data Interval </th>
                <th> Rotation </th>
                <th>
                    <mfDefaultSorter by="created_at">Created Time</mfDefaultSorter>
                </th>
                <th style="text-align: right;"> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="mf.data && mf.data.length==0">
                <td [attr.colspan]="tableSetting.columnCount">Rule not found.</td>
            </tr>
            <tr *ngFor="let item of mf.data; let i = index;" class="odd gradeX" [ngClass]="{'active': item.selected}">
                <td>
                    <input type="checkbox" [(ngModel)]="item.selected" (change)="checkIfAllSelected();" />
                </td>
                <td>
                    <div *ngIf="isEnalbe(item)" class="nowrap">
                        <i class="fa fa-check-circle font-green-jungle" aria-hidden="true" title="Enabled"></i>
                        {{item.name}}
                        <span *ngIf="item.campaigns && item.campaigns.length > 0" class="badge badge-{{ showLevel(item).type }} tooltips" style="cursor: help;"
                            title="{{ showLevel(item).text }}"> {{ showLevel(item).icon }} </span>
                    </div>
                    <div *ngIf="!isEnalbe(item)" class="nowrap">
                        <i class="fa fa-ban font-yellow-gold" aria-hidden="true" title="Disabled"></i>
                        {{item.name}}
                    </div>
                </td>
                <td>{{ showAction(item) }}</td>
                <td [innerHTML]="showCriterias(item)"></td>
                <td>{{ item.interval }}</td>
                <td>{{ item.rotation }}</td>
                <td>{{ item.created_at | date:'y/MM/dd HH:mm:ss a Z' }}</td>
                <td align="right">
                    <p class="nowrap">
                        <a (click)="edit(item)" class="btn default btn-xs purple" title="Edit">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                    </p>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="mf.data && mf.data.length > 0">
            <tr>
                <td [attr.colspan]="tableSetting.columnCount">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25,50]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
    <p>Showing {{ mf.data.length }} of {{ rulesCount }} entries</p>
</div>