<div *ngxPermissionsOnly="['ADMIN']" class="row" style="margin-bottom: 15px">
    <div class="col-md-7">
        <div class="form-group" style="display: inline-block; margin-right: 5px">
            <select [(ngModel)]="actionValue" class="form-control">
                <option value="" disabled>Actions</option>
                <optgroup label="Campaign">
                    <!-- <option value="active">Enable</option>
                    <option value="blocked">Disable</option> -->
                    <option value="pause">Pause</option>
                </optgroup>
                <optgroup label="Global">
                    <!-- <option *ngIf="filterStatus!=='active'" value="whitelist">WhiteList</option> -->
                    <option *ngIf="filterStatus!=='blacklist'" value="blacklist">BlackList</option>
                </optgroup>
            </select>
        </div>

        <button [disabled]="disableBtnStatus || actionValue===''" (click)="applyAction()" class="btn btn-success" style="margin-top:-5px">
            <i class="fa fa-check"></i> Apply
        </button>
    </div>
    <div class="col-md-5">
        <!-- <div *ngIf="campaignDetail && campaignDetail.id_fraud" class="pull-right">
            <div class="form-group" style="display: inline-block; margin-right: 5px">
                <select [(ngModel)]="fraudCampaignId" class="form-control input-large">
                    <option value="">Select PT Bot Campaign...</option>
                    <option *ngFor="let camp of fraudCampaigns" value="{{camp.name}}">PT: {{camp.info}}</option>
                </select>
            </div>
            <button [disabled]="!fraudCampaignId" class="btn btn-success btn-md" style="margin-top:-5px" (click)="saveCampaignFraud()"
                title="Save bot campaign">
                <i class="fa fa-save"></i>
            </button>
        </div> -->
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <button *ngxPermissionsOnly="['ADMIN']" class="btn btn-primary" (click)="reloadDatas();" title="Refresh Sites" style="margin-top:-2px">
            <i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        <label>
            <select [(ngModel)]="tableOptions.rowsOnPage" class="form-control input-xsmall input-inline">
                <option [ngValue]="25">25</option>
                <option [ngValue]="50">50</option>
                <option [ngValue]="100">100</option>
                <option [ngValue]="200">200</option>
            </select>
            records
        </label>
    </div>
    <div class="col-md-7">
        <div class="pull-right">
            <!-- <div class="form-group" style="display:inline">
                <label>Status</label>
                <select [(ngModel)]="filterStatus" (change)="getSitesByStatus();" class="form-control input-small input-inline" style="margin-right:15px">
                    <option value="active">Active Sites</option>
                    <option value="blocked">Blocked Sites</option>
                    <option value="pause">Paused Sites</option>
                    <option value="blacklist">Blacklisted Sites</option>
                </select>
            </div> -->

            <div class="form-group" style="display:inline">
                <label>Search:
                    <input [(ngModel)]="filterQuery" class="form-control input-small input-inline" />
                </label>
                <button class="btn btn-default" (click)="clearSearchText()" style="margin-top:-3px">
                    <i class="fa fa-times" aria-hidden="true"></i> Clear</button>
            </div>

            <div class="form-group" style="display:inline;margin-left:10px">
                <ss-multiselect-dropdown [options]="tableColumns" [settings]="tableColumnSettings" [texts]="tableColumnTexts" [(ngModel)]="tableColumnModel"
                    (ngModelChange)="onChangeColumns($event)"></ss-multiselect-dropdown>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" #mf="mfDataTable" [mfData]="widgetList | filter:'site_name':filterQuery"
        [mfRowsOnPage]="tableOptions.rowsOnPage" [(mfSortBy)]="tableOptions.sortBy" [(mfSortOrder)]="tableOptions.sortOrder">
        <thead>
            <tr>
                <th class="table-checkbox">
                    <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll();" />
                </th>
                <th *ngxPermissionsOnly="['ADMIN']" class="table-checkbox">Exclude</th>
                <th>
                    <mfDefaultSorter by="status">Status</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('site_name')" width="300">
                    <mfDefaultSorter by="site_name">Site Name</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('bot')">
                    <mfDefaultSorter by="bot">Bot</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('impressions')" title="Impressions">
                    <mfDefaultSorter by="impressions">Imp.</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('clicks')" title="Traffic Source Clicks">
                    <mfDefaultSorter by="clicks">TS Clicks</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('trk_clicks')" title="Tracker Visits">
                    <mfDefaultSorter by="trk_clicks">Trk Clicks</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('lp_clicks')" title="Tracker Clicks">
                    <mfDefaultSorter by="lp_clicks">LP Clicks</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('ctr')">
                    <mfDefaultSorter by="ctr">CTR</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('lp_ctr')" title="Tracker CTR">
                    <mfDefaultSorter by="lp_ctr">LP CTR</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cpc')">
                    <mfDefaultSorter by="cpc">CPC</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('conversions')" title="Conversions">
                    <mfDefaultSorter by="conversions">Conv</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cost')">
                    <mfDefaultSorter by="cost">Cost</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('revenue')" title="Revenue">
                    <mfDefaultSorter by="revenue">Rev</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cpm')">
                    <mfDefaultSorter by="cpm">CPM</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('net')">
                    <mfDefaultSorter by="net">Net</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('roi')">
                    <mfDefaultSorter by="roi">ROI</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cv')">
                    <mfDefaultSorter by="cv">CV</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('epc')">
                    <mfDefaultSorter by="epc">EPC</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('epv')">
                    <mfDefaultSorter by="epv">EPV</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cpv')">
                    <mfDefaultSorter by="cpv">CPV</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('cpa')">
                    <mfDefaultSorter by="cpa">CPA</mfDefaultSorter>
                </th>
                <th *ngIf="hasColumn('ap')" title="Payout">
                    <mfDefaultSorter by="ap">AP</mfDefaultSorter>
                </th>
                <th *ngxPermissionsOnly="['ADMIN']">
                    <mfDefaultSorter by="cpc_boost">CPC Bid</mfDefaultSorter>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="!mf.data || mf.data.length == 0">
                <td [attr.colspan]="tableOptions.columnCount">No result found</td>
            </tr>
            <tr *ngIf="statTotals" class="bold info">
                <td [attr.colspan]="hasColumn('site_name') ? 4 : 3">Total</td>
                <td *ngIf="hasColumn('bot')" class="tooltips">
                    {{ statTotals.bot | number:'1.1-2' }}%
                    <span class="tooltiptext left">Blocked: {{ statTotals.block_bot }}/{{ statTotals.total_bot }}</span>
                </td>
                <td *ngIf="hasColumn('impressions')">{{ statTotals.impressions | number }}</td>
                <td *ngIf="hasColumn('clicks')">{{ statTotals.clicks | number }}</td>
                <td *ngIf="hasColumn('trk_clicks')">
                    <p class="nowrap">
                        {{ statTotals.trk_clicks | number }}
                        <span *ngIf="showCalcClicks(statTotals.trk_clicks, statTotals.clicks)" [ngClass]="calcClicks(statTotals.trk_clicks, statTotals.clicks) > 0 ? 'font-green' : 'font-red'"
                            style="font-size: 80%;">
                            <strong>{{ renderCalcClicks(statTotals.trk_clicks, statTotals.clicks) }}</strong>
                        </span>
                    </p>
                </td>
                <td *ngIf="hasColumn('lp_clicks')">{{ statTotals.lp_clicks | number }}</td>
                <td *ngIf="hasColumn('ctr')">{{ statTotals.ctr | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('lp_ctr')">{{ statTotals.lp_ctr | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('cpc')">{{ statTotals.cpc | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('conversions')">{{ statTotals.conversions | number }}</td>
                <td *ngIf="hasColumn('cost')">{{ statTotals.cost | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('revenue')">{{ statTotals.revenue | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('cpm')">{{ statTotals.cpm | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('net')">
                    <span [ngClass]="(statTotals.net < 0) ? 'label-danger' : (statTotals.net > 0) ? 'label-success' : 'label-default'" class="label label-sm">
                        {{ statTotals.net | currency:'USD':true:'1.2' }} </span>
                </td>
                <td *ngIf="hasColumn('roi')">
                    <span [ngClass]="(statTotals.roi < 0) ? 'label-danger' : (statTotals.roi > 0) ? 'label-success' : 'label-default'" class="label label-sm">
                        {{ statTotals.roi | number:'1.1-2' }}% </span>
                </td>
                <td *ngIf="hasColumn('cv')">{{ statTotals.cv | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('epc')">{{ statTotals.epc | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('epv')">{{ statTotals.epv | currency:'USD':true:'1.4' }}</td>
                <td *ngIf="hasColumn('cpv')">{{ statTotals.cpv | currency:'USD':true:'1.4' }}</td>
                <td *ngIf="hasColumn('cpa')">{{ statTotals.cpa | currency:'USD':true:'1.3' }}</td>
                <td *ngIf="hasColumn('ap')">{{ statTotals.ap | currency:'USD':true:'1.2' }}</td>
                <td *ngxPermissionsOnly="['ADMIN']"></td>
            </tr>

            <tr *ngFor="let item of mf.data; let i = index;" class="odd gradeX" [ngClass]="{'active': item.selected}">
                <td>
                    <input type="checkbox" value="{{ item.site_name }}" [(ngModel)]="item.selected" (change)="checkIfAllSelected();" />
                </td>
                <td *ngxPermissionsOnly="['ADMIN']">
                    <!-- <switch [status]="onBlockStatus(item)" [onText]="blockButton.onText" [offText]="blockButton.offText" [onColor]="blockButton.onColor"
                        [offColor]="blockButton.offColor" [disabled]="blockButton.disabled" [size]="blockButton.size" (statusChange)="onChangeBlockStatus($event, item)"
                        title="{{onBlockStatus(item)===false ? 'Block' : 'Unblock'}}"></switch> -->
                </td>
                <td>
                    <span class="statusText" [ngClass]="{'bg-green':item.status==='ACTIVE','bg-red':item.status==='BLOCKED'}">{{ item.status }}</span>
                </td>
                <td *ngIf="hasColumn('site_name')">
                    <i *ngIf="item.publisher_name" class="fa fa-globe font-purple" title="Publisher: {{item.publisher_name}}"></i>
                    <a *ngIf="item.site_url" href="{{item.site_url}}" target="_blank" class="font-blue" title="Open site in new tab">
                        <i class="fa fa-link" aria-hidden="true"></i>
                    </a>
                    {{ item.site_name }}
                </td>
                <td *ngIf="hasColumn('bot')" class="tooltips">
                    {{ item.bot | number:'1.1-2' }}%
                    <span class="tooltiptext left">Blocked: {{ item.block_bot }}/{{ item.total_bot }}</span>
                </td>
                <td *ngIf="hasColumn('impressions')">{{ item.impressions | number }}</td>
                <td *ngIf="hasColumn('clicks')">{{ item.clicks | number }}</td>
                <td *ngIf="hasColumn('trk_clicks')">
                    <p class="nowrap">
                        {{ item.trk_clicks | number }}
                        <span *ngIf="showCalcClicks(item.trk_clicks, item.clicks)" [ngClass]="calcClicks(item.trk_clicks, item.clicks) > 0 ? 'font-green' : 'font-red'"
                            style="font-size: 80%;">
                            <strong>{{ renderCalcClicks(item.trk_clicks, item.clicks) }}</strong>
                        </span>
                    </p>
                </td>
                <td *ngIf="hasColumn('lp_clicks')">{{ item.lp_clicks | number }}</td>
                <td *ngIf="hasColumn('ctr')">{{ item.ctr | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('lp_ctr')">{{ item.lp_ctr | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('cpc')">{{ item.cpc | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('conversions')">{{ item.conversions | number }}</td>
                <td *ngIf="hasColumn('cost')">{{ item.cost | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('revenue')">{{ item.revenue | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('cpm')">{{ item.cpm | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('net')">
                    <span [ngClass]="(item.net < 0) ? 'label-danger' : (item.net > 0) ? 'label-success' : 'label-default'" class="label label-sm">
                        {{ item.net | currency:'USD':true:'1.2' }} </span>
                </td>
                <td *ngIf="hasColumn('roi')">
                    <span [ngClass]="(item.roi < 0) ? 'label-danger' : (item.roi > 0) ? 'label-success' : 'label-default'" class="label label-sm">
                        {{ item.roi | number:'1.1-2' }}% </span>
                </td>
                <td *ngIf="hasColumn('cv')">{{ item.cv | number:'1.1-2' }}%</td>
                <td *ngIf="hasColumn('epc')">{{ item.epc | currency:'USD':true:'1.2' }}</td>
                <td *ngIf="hasColumn('epv')">{{ item.epv | currency:'USD':true:'1.4' }}</td>
                <td *ngIf="hasColumn('cpv')">{{ item.cpv | currency:'USD':true:'1.4' }}</td>
                <td *ngIf="hasColumn('cpa')">{{ item.cpa | currency:'USD':true:'1.3' }}</td>
                <td *ngIf="hasColumn('ap')">{{ item.ap | currency:'USD':true:'1.2' }}</td>
                <td *ngxPermissionsOnly="['ADMIN']">
                    <div class="editSiteBid" (click)="showEditBidding(item);">
                        <p class="nowrap" style="margin:0">{{cpcBidStatus(item)}}</p>
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div style="display:table;margin:0 auto">
                        <!-- <switch *ngIf="!onBlockStatus(item)" [status]="onAutoCpcStatus(item)" [onText]="changeBidButton.onText" [offText]="changeBidButton.offText"
                            [onColor]="changeBidButton.onColor" [offColor]="changeBidButton.offColor" [disabled]="changeBidButton.disabled"
                            [size]="changeBidButton.size" (statusChange)="onChangeAutoCpc($event, item)" title="{{onAutoCpcStatus(item)===false ? 'Turn OFF' : 'Turn ON'}}"></switch> -->
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot *ngIf="mf.data && mf.data.length > 0">
            <tr>
                <td [attr.colspan]="tableOptions.columnCount">
                    <mfBootstrapPaginator [rowsOnPageSet]="[25,50,100,200]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
<p>Showing {{ mf.data.length }} of {{ widgetCount }} entries</p>