<div *ngIf="!campaignDetail.tracker_id" class="alert alert-warning">The tracker has not been connected to this campaign.</div>

<form *ngIf="campaignDetail.tracker_id" #campaignTrackerForm="ngForm" (ngSubmit)="onSubmit()" class="form-horizontal">

    <div class="form-body bg-grey-steel" style="padding: 20px 10px">
        <div class="form-group">
            <label class="col-md-2 control-label">Name:</label>
            <div class="col-md-9">
                <input type="text" [(ngModel)]="campaign.namePostfix" #namePostfix="ngModel" name="namePostfix" class="form-control" placeholder="FB - Global - "
                    autocomplete="false" required>
                <validate-message [label]="'Name of Campaign'" [input]="namePostfix"></validate-message>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Campaign URL:</label>
            <div class="col-md-9">
                <input type="text" value="{{campaignURL}}" class="form-control" placeholder="ID will be available after saving the campaign."
                    autocomplete="false" readonly="readonly">
            </div>
        </div>

        <div *ngIf="campaignDetail.id_fraud" class="form-group">
            <label class="col-md-2 control-label">Deploy URL:</label>
            <div class="col-md-9">
                <input type="text" value="http://performancetracking.net/?{{campaignDetail.id_fraud}}" class="form-control" autocomplete="false"
                    readonly="readonly">
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Traffic Source:</label>
            <div class="col-md-9">
                <select [(ngModel)]="campaign.trafficSource.id" name="trafficSource.id" #trafficSource="ngModel" class="form-control" required>
                    <option *ngFor="let traffic of trafficSources" value="{{traffic.id}}">{{traffic.name}}</option>
                </select>
                <validate-message [label]="'Traffic source'" [input]="trafficSource"></validate-message>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Country:</label>
            <div class="col-md-9">
                <select-country-code [object]="campaign.country" field="code" [callback]="callbackCountry"></select-country-code>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Cost model:</label>
            <div class="col-md-9">
                <div class="radio-list" style="margin-left:25px">
                    <label class="radio-inline">
                        <input [(ngModel)]="campaign.costModel.type" type="radio" name="costModel.type" value="NOT_TRACKED"> Do not track costs
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label">Redirect mode:</label>
            <div class="col-md-9">
                <div class="radio-list" style="margin-left:25px">
                    <label class="radio-inline">
                        <input [(ngModel)]="campaign.redirectTarget.inlineFlow.defaultOfferRedirectMode" type="radio" name="redirectMode" value="REGULAR"> 302
                    </label>
                    <label class="radio-inline">
                        <input [(ngModel)]="campaign.redirectTarget.inlineFlow.defaultOfferRedirectMode" type="radio" name="redirectMode" value="HTML"> Meta refresh
                    </label>
                    <label class="radio-inline">
                        <input [(ngModel)]="campaign.redirectTarget.inlineFlow.defaultOfferRedirectMode" type="radio" name="redirectMode" value="DOUBLE_HTML"> Double meta refresh
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <h3 class="pull-right">Default paths</h3>
            </div>
            <div class="col-md-9"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-9">

                <div *ngFor="let path of defaultPaths; let i = index;" class="path-list-item clearfix">
                    <div class="path-title row">
                        <div class="col-md-2">
                            <p class="bold uppercase">{{path.name}}</p>
                        </div>
                        <div class="col-md-10">
                            <div class="path-options pull-right">
                                <label class="inline">Path weight</label>
                                <input type="number" [(ngModel)]="path.weight" name="weight+{{i}}" class="form-control inline input-small" min="0" max="999">
                                <!-- <switch [status]="path.active" [onText]="switchButton.onText" [offText]="switchButton.offText" [onColor]="switchButton.onColor"
                                    [offColor]="switchButton.offColor" [disabled]="switchButton.disabled" [size]="switchButton.size"
                                    (statusChange)="onFlagChange($event, path)"></switch> -->
                                <button type="button" class="btn btn-danger btn-md" (click)="removePath(i)" style="margin-top:-7px">
                                    <i class="glyphicon glyphicon-remove"></i> Remove
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="path-container landers-container bg-blue-madison clearfix">

                        <div class="col-md-8">
                            <p>Lander</p>
                        </div>
                        <div class="col-md-4">
                            <p>Weight</p>
                        </div>

                        <div *ngFor="let landerItem of path.landers; let j = index;" class="path-item clearfix">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <select [(ngModel)]="landerItem.lander.id" name="lander+{{i}}{{j}}" class="form-control">
                                    <option value="" selected="selected">Select lander</option>
                                    <option *ngFor="let lander of landers" value="{{lander.id}}">{{lander.name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <input type="number" [(ngModel)]="landerItem.weight" name="lander.weight+{{i}}+{{j}}" min="0" max="999" class="form-control inline">
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <i class="glyphicon glyphicon-remove pull-right actions-icon" (click)="removeLander(j, path)"></i>
                                <i *ngIf="landerItem.lander.id" class="fa fa-pencil actions-icon pull-right" aria-hidden="true" (click)="editLander(landerItem)"></i>
                            </div>
                        </div>
                        <div class="col-md-12 pull-left">
                            <button type="button" class="btn btn-primary" (click)="addLander(path)">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add lander</button>

                            <button type="button" class="btn btn-primary" (click)="newLander()">
                                <i class="fa fa-star" aria-hidden="true"></i> New lander</button>
                        </div>
                    </div>

                    <div class="path-container offers-container bg-blue-madison clearfix">

                        <div class="col-md-8">
                            <p>Offer</p>
                        </div>
                        <div class="col-md-4">
                            <p>Weight</p>
                        </div>

                        <div *ngFor="let offerItem of path.offers; let k = index;" class="path-item clearfix">
                            <div class="col-sm-8 col-md-8 col-lg-8">
                                <select [(ngModel)]="offerItem.offer.id" #offer="ngModel" name="offer+{{i}}{{k}}" class="form-control" required>
                                    <option value="" selected="selected">Select offer</option>
                                    <option *ngFor="let offer of offers" value="{{offer.id}}">{{offer.name}}</option>
                                </select>
                                <validate-message [label]="'Offer'" [input]="offer"></validate-message>
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <input type="number" [(ngModel)]="offerItem.weight" name="offer.weight+{{i}}+{{k}}" min="0" max="999" class="form-control inline">
                            </div>
                            <div class="col-sm-2 col-md-2 col-lg-2">
                                <i class="glyphicon glyphicon-remove pull-right actions-icon" (click)="removeOffer(k, path)"></i>
                                <i *ngIf="offerItem.offer.id" class="fa fa-pencil actions-icon pull-right" aria-hidden="true" (click)="editOffer(offerItem)"></i>
                            </div>
                        </div>
                        <div class="col-md-12 pull-left">
                            <button type="button" class="btn btn-primary" (click)="addOffer(path)">
                                <i class="fa fa-plus" aria-hidden="true"></i> Add offer</button>

                            <button type="button" class="btn btn-primary" (click)="newOffer()">
                                <i class="fa fa-star" aria-hidden="true"></i> New offer</button>
                        </div>

                    </div>

                </div>

                <button type="button" class="btn btn-primary" (click)="addPath()">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add path</button>

                <div class="row">
                    <div class="col-md-12">
                        <button type="reset" class="btn btn-default touch pull-right" style="margin-left:10px">
                            <i class="fa fa-eraser" aria-hidden="true"></i> Reset</button>
                        <button type="submit" class="btn btn-success touch pull-right" *ngIf="!campaignTrackerForm.invalid">
                            <i class="fa fa-save"></i> Save</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>