<div class="alert alert-warning">
    <i class="fa fa-warning" aria-hidden="true"></i>
    <strong>NOTE:</strong> Costs are as we get them from the tracker. For accurate costs check the campaign overview on top.</div>

<div *ngIf="trackerView">
    <div class="row">
        <div class="col-md-5">
            <button *ngxPermissionsOnly="['ADMIN']" class="btn btn-primary" (click)="reloadDatas();" title="Refresh Sites" style="margin-top:-2px">
                <i class="fa fa-refresh" aria-hidden="true"></i> Refresh</button>
        </div>
        <div class="col-md-7">
            <div class="pull-right">
                <div class="form-group" style="margin-left:10px;margin-bottom:10px">
                    <ss-multiselect-dropdown [options]="tableColumns" [settings]="tableColumnSettings" [texts]="tableColumnTexts" [(ngModel)]="tableColumnModel"
                        (ngModelChange)="onChangeColumns($event)"></ss-multiselect-dropdown>
                </div>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" #mf="mfDataTable" [mfData]="trackerView">
            <thead>
                <tr class="bg-blue-chambray bg-font-grey-gallery">
                    <th colspan="2">Default Paths</th>
                    <th *ngIf="hasColumn('weight')">Weight</th>
                    <th *ngIf="hasColumn('visits')">Visits</th>
                    <th *ngIf="hasColumn('clicks')">Clicks</th>
                    <th *ngIf="hasColumn('conversions')">Conv</th>
                    <th *ngIf="hasColumn('ctr')">CTR</th>
                    <th *ngIf="hasColumn('cost')">Cost</th>
                    <th *ngIf="hasColumn('revenue')">Rev</th>
                    <th *ngIf="hasColumn('profit')">Profit</th>
                    <th *ngIf="hasColumn('epc')">EPC</th>
                    <th *ngIf="hasColumn('roi')">ROI</th>
                    <th *ngIf="hasColumn('epv')">EPV</th>
                    <th *ngIf="hasColumn('ap')">AP</th>
                </tr>
            </thead>
            <tbody *ngFor="let path of mf.data">
                <tr class="odd gradeX">
                    <th colspan="2">{{path.name}}</th>
                    <th class="text-center">{{path.weight}}</th>
                    <th colspan="9"></th>
                </tr>
                <tr *ngFor="let lander of path.landers">
                    <th colspan="2">
                        <a href="{{lander.lander.url}}" class="font-blue" target="_blank">{{lander.lander.name}}</a>
                    </th>
                    <th *ngIf="hasColumn('weight')" class="text-center">{{lander.weight}}</th>
                    <td *ngIf="hasColumn('visits')">{{lander.lander.visits || 0}}</td>
                    <td *ngIf="hasColumn('clicks')">{{lander.lander.clicks || 0}}</td>
                    <td *ngIf="hasColumn('conversions')">{{lander.lander.conversions || 0}}</td>
                    <td *ngIf="hasColumn('ctr')">{{lander.lander.ctr || 0 | number:'1.1-2'}}%</td>
                    <td *ngIf="hasColumn('cost')">{{lander.lander.cost || 0 | currency:'USD':true:'1.2'}}</td>
                    <td *ngIf="hasColumn('revenue')">{{lander.lander.revenue || 0 | currency:'USD':true:'1.2'}}</td>
                    <td *ngIf="hasColumn('profit')">{{lander.lander.profit || 0 | currency:'USD':true:'1.2'}}</td>
                    <td *ngIf="hasColumn('epc')">{{lander.lander.epc || 0 | currency:'USD':true:'1.2'}}</td>
                    <td *ngIf="hasColumn('roi')">{{lander.lander.roi || 0 | number:'1.1-2'}}%</td>
                    <td *ngIf="hasColumn('epv')">{{ lander.lander.epv | currency:'USD':true:'1.4' }}</td>
                    <td *ngIf="hasColumn('ap')">{{ lander.lander.ap | currency:'USD':true:'1.2' }}</td>
                </tr>
                <tr *ngFor="let offer of path.offers">
                    <th width="50"></th>
                    <th>
                        <a href="{{offer.offer.url}}" class="font-green-seagreen" target="_blank">{{offer.offer.name}}</a>
                    </th>
                    <th *ngIf="hasColumn('weight')" class="text-center">{{offer.weight}}</th>
                    <td *ngIf="hasColumn('visits')">{{offer.offer.visits || 0}}</td>
                    <td *ngIf="hasColumn('clicks')">{{offer.offer.clicks || 0}}</td>
                    <td *ngIf="hasColumn('conversions')">{{offer.offer.conversions || 0}}</td>
                    <td *ngIf="hasColumn('ctr')">{{offer.offer.ctr || 0 | number:'1.1-2'}}%</td>
                    <td *ngIf="hasColumn('cost')">{{offer.offer.cost || 0 | currency:'USD':true:'1.2'}}</td>
                    <td *ngIf="hasColumn('revenue')">{{offer.offer.revenue || 0 | currency:'USD':true:'1.2'}}</td>
                    <td *ngIf="hasColumn('profit')">{{offer.offer.profit || 0 | currency:'USD':true:'1.2'}}</td>
                    <td *ngIf="hasColumn('epc')">{{offer.offer.epc || 0 | currency:'USD':true:'1.2'}}</td>
                    <td *ngIf="hasColumn('roi')">{{offer.offer.roi || 0 | number:'1.1-2'}}%</td>
                    <td *ngIf="hasColumn('epv')">{{ offer.offer.epv | currency:'USD':true:'1.4' }}</td>
                    <td *ngIf="hasColumn('ap')">{{ offer.offer.ap | currency:'USD':true:'1.2' }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>