@font-face {
    font-family: 'FontAwesome';
    src: url('/assets/fonts/fontawesome-webfont.eot');
    src: url('/assets/fonts/fontawesome-webfont.eot') format('embedded-opentype'), url('/assets/fonts/fontawesome-webfont.woff') format('woff'), url('/assets/fonts/fontawesome-webfont.ttf') format('truetype'), url('/assets/fonts/fontawesome-webfont.svg') format('svg');
}

@import "../../../vendor/font-awesome-sass/assets/stylesheets/font-awesome";
@import "../../../vendor/simple-line-icons/scss/simple-line-icons";
@import "../../../vendor/select2/src/scss/core";

@import "../../../theme/sass/admin/pages/login3";
@import "../../../theme/sass/admin/layout/layout";
@import "../../../theme/sass/admin/layout/themes/light";

@import "components/error";
@import "components/loading";
@import "components/message";
@import "components/tooltip";
@import "components/modal";
@import "components/form";
@import "components/table";
@import "components/layout";
@import "global";